---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- colors as string ("hoverColor")
- href as string
*/

interface Props {
  class?: string;
  duration?: string;
  colors?: string;
  href: string;
}
const {
  class: classList,
  duration = '0.3s',
  colors = '#f44336',
  href,
  ...attrs
} = Astro.props;
const [hoverColor] = colors.split(',');
const style = `--duration: ${duration};--hoverColor: ${hoverColor};`;
---

<a class={classList} href={href} style={style} {...attrs}><slot /></a>

<style>
  a {
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
    border: 3px solid #fff;
    background-color: #333;
    padding: 0.5em 0.7em;
    width: fit-content;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1;
    text-decoration: none;
    &:hover {
      animation: shake var(--duration) linear;
      border: 3px solid var(--hoverColor);
      color: var(--hoverColor);
    }
  }

  @keyframes shake {
    33% {
      transform: rotate(10deg);
    }
    66% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
</style>
