---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- width as string
- height as string
- lines as number of lines
- origin as 'center' | 'bottom' | 'top' transform-origin
- color as string ("<color>")
*/

interface Props {
  class?: string;
  duration?: string;
  width?: string;
  height?: string;
  lines?: number;
  origin?: 'center' | 'bottom' | 'top';
  color?: string;
}
const {
  class: classList,
  lines = 8,
  duration = `${lines * 0.0875}s`,
  width = '5px',
  height = '2rem',
  origin = 'center',
  color = '#fff',
  ...attrs
} = Astro.props;
const style = `--duration: ${duration};--width: ${width};--height: ${height};--origin: ${origin};--color: ${color};--lines: ${lines};`;
---

<div class:list={['container22', classList]} style={style} {...attrs}>
  {
    Array.from({ length: lines }).map((_, idx) => {
      const left = `${(100 / lines) * idx}%`;
      const delay = idx > 0 && `${0.2 * idx}s`;
      return <div class="line22" style={`left: ${left};--delay: ${delay}`} />;
    })
  }
</div>

<style>
  .container22 {
    display: flex;
    justify-content: center;
    gap: calc(var(--width) / 2);
    background: #222;
    width: calc(var(--width) * var(--lines) * 1.5);
    .line22 {
      transform-origin: var(--origin);
      animation: anim22 var(--duration) linear infinite alternate;
      animation-delay: var(--delay);
      border-radius: 10px;
      background-color: var(--color);
      width: var(--width);
      height: var(--height);
    }
  }

  @keyframes anim22 {
    0% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
    }
  }
</style>
