---
/*
INFORMATIONS
set 
- text as string
set optionally:
- class as string
- duration as string 'value and s | ms'
- delay as string
*/

interface Props {
  text: string;
  class?: string;
  duration?: string;
  delay?: string;
}
const {
  text,
  class: classList,
  duration = `${(text.length * 0.2).toFixed(1)}s`,
  delay = '0.1s',
  ...attrs
} = Astro.props;

const style = `--duration: ${duration};--delay: ${delay};`;
---

<ul data-style="none" class={classList} style={style} {...attrs}>
  {
    text
      .split('')
      .map((letter, idx) => (
        <li style={`--letterDelay: calc(var(--delay) * ${idx})`}>{letter}</li>
      ))
  }
</ul>

<style>
  ul {
    display: flex;
    gap: 5px;
    width: fit-content;
    font-size: 1.5rem;
    li {
      animation: lighting08 var(--duration) linear infinite;
      animation-delay: var(--letterDelay);
      color: #484848;
    }
  }
  @keyframes lighting08 {
    0% {
      color: #484848;
      text-shadow: none;
    }
    90% {
      color: #484848;
      text-shadow: none;
    }
    100% {
      color: #fff900;
      text-shadow:
        0 0 0.0875em #fff900,
        0 0 0.625em #ff6c00;
    }
  }
</style>
