---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- size as string
- color as string ("<color>")
*/

interface Props {
  class?: string;
  duration?: string;
  size?: string;
  colors?: string;
}
const {
  class: classList,
  duration = '1s',
  size = '4rem',
  colors = '#fff, #ccae62, #218c74, #eb4d4b',
  ...attrs
} = Astro.props;
const circlesNumber = colors.split(',').length;

const style = `--duration: ${duration};--size: ${size};`;
---

<div class:list={['container23', classList]} style={style} {...attrs}>
  {
    Array.from({ length: circlesNumber }).map((_, idx) => {
      const circleSize =
        idx === 0
          ? 'calc(var(--size) / 10)'
          : `calc(var(--size) / ${circlesNumber} * ${idx + 1})`;
      const color = colors.split(',')[idx];
      return (
        <div
          class="circle"
          style={`--circleSize: ${circleSize};--color: ${color};--borderSize: calc(var(--size) / 30);`}
        />
      );
    })
  }
</div>

<style>
  .container23 {
    position: relative;
    background: #273c75;
    width: var(--size);
    height: var(--size);
    .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      border: var(--borderSize) solid transparent;
      border-right-color: var(--color);
      border-left-color: var(--color);
      border-radius: 50%;
      width: var(--circleSize);
      height: var(--circleSize);
      &:not(:first-of-type) {
        animation: anim23 3s infinite linear;
        &:nth-of-type(odd) {
          animation-direction: reverse;
        }
      }
      &:nth-of-type(1) {
        background-color: var(--color);
      }
    }
  }

  @keyframes anim23 {
    from {
      rotate: 0;
    }
    to {
      rotate: 360deg;
    }
  }
</style>
