---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- size as string
- colors as string ("small, semiSmall, sphere, semiBig, ") 
*/

interface Props {
  class?: string;
  duration?: string;
  size?: string;
  colors?: string;
}
const {
  class: classList,
  duration = '2s',
  size = '12rem',
  colors = '#f0f, #06c8f0, #fff, #fe4e4e, ',
  ...attrs
} = Astro.props;
const [small, semiSmall, sphere, semiBig] = colors.split(',');

const style = `--duration: ${duration};--size: ${size};--small: ${small};--semiSmall: ${semiSmall};--sphere: ${sphere};--semiBig: ${semiBig};`;
---

<div class:list={['container38', classList]} style={style} {...attrs}>
  <div class="semiSmall">
    <div class="loader">
      <div class="ball"></div>
    </div>
  </div>
</div>

<style>
  .container38 {
    --containerSize: calc(var(--size) * 0.9);
    display: flex;
    justify-content: center;
    background: #222;
    width: var(--containerSize);
    height: calc(var(--containerSize) * 0.9);
    overflow: clip;

    .semiSmall {
      --semiSmallSize: calc(var(--size) / 4);
      position: relative;
      top: calc(var(--semiSmallSize) / 4);
      width: var(--semiSmallSize);
      height: var(--semiSmallSize);

      .loader {
        position: relative;
        animation: semisphere38 var(--duration) linear infinite alternate;
        width: var(--semiSmallSize);
        height: var(--semiSmallSize);
        /* semiSmall */
        &::before {
          --radius: calc(var(--size) * 2);
          position: absolute;
          bottom: 0;
          left: 0;
          border-bottom-right-radius: var(--radius);
          border-bottom-left-radius: var(--radius);
          background: var(--semiSmall);
          width: 100%;
          height: 50%;
          content: '';
        }
        .ball {
          --ballSize: calc(var(--semiSmallSize) / 4);
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-100%) translateX(calc(var(--ballSize) * -0.5));
          animation: ball38 var(--duration) linear infinite alternate;
          border-radius: 50%;
          background-color: var(--small);
          width: var(--ballSize);
          height: var(--ballSize);
        }
      }
      &::before,
      &::after {
        position: absolute;
        content: '';
      }
      /* sphere */
      &::before {
        top: var(--semiSmallSize);
        left: 0;
        z-index: 1;
        animation: sphere38 var(--duration) linear infinite alternate;
        border-radius: 50%;
        background: var(--sphere);
        width: var(--semiSmallSize);
        height: var(--semiSmallSize);
      }
      /* semiBig */
      &::after {
        --semiBigSize: var(--size);
        top: calc(var(--size) / 2);
        left: -150%;
        border-radius: 50%;
        background: var(--semiBig);
        width: var(--semiBigSize);
        height: var(--semiBigSize);
      }
    }
  }
  @keyframes ball38 {
    from {
      transform: translateY(-100%) translateX(calc(var(--ballSize) * -1));
    }
    to {
      transform: translateY(-100%) translateX(var(--semiSmallSize));
    }
  }
  @keyframes semisphere38 {
    0% {
      transform: rotate(50deg);
    }
    100% {
      transform: rotate(-50deg);
    }
  }
  @keyframes sphere38 {
    from {
      transform: translateX(calc(var(--semiSmallSize) / 8));
    }
    to {
      transform: translateX(calc(var(--semiSmallSize) / -8));
    }
  }
</style>
