---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- text as string
- colors as string ("<color1>, <color2>")
*/

interface Props {
  class?: string;
  duration?: string;
  text: string;
  colors?: string;
}
const {
  class: classList,
  text,
  duration = `${(text.length * 2) / 10}s`,
  colors = '#fff, #f6b93b',
  ...attrs
} = Astro.props;

const [color1, color2] = colors.split(',');
const style = `--duration: ${duration};--color1: ${color1};--color2: ${color2};`;
---

<h3 class:list={['text19_unibox', classList]} style={style} {...attrs}>
  &nbsp;{text}&nbsp;<span>&nbsp;{text}&nbsp;</span>
</h3>

<style>
  .text19_unibox {
    position: relative;
    background: #273c75;
    width: fit-content;
    color: var(--color1);
    font-size: 1.6rem;
    span {
      display: block;
      position: absolute;
      animation: anim19 var(--duration) linear infinite alternate;
      inset: 0;
      border-right: 0.2em solid var(--color2);
      overflow: clip;
      color: var(--color2);
      white-space: nowrap;
    }
  }

  @keyframes anim19 {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }
</style>
