---
import { getImage } from 'astro:assets';

/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- imagePath as string
*/

interface Props {
  class?: string;
  duration?: string;
  imagePath?: string;
}
// prettier-ignore
const { class: classList, duration = '15s', imagePath='/src/images/animation10/bg.jpg', ...attrs } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
if (!images[imagePath]) throw new Error(`${imagePath} does not exist`);

const optBg = await getImage({
  src: images[imagePath](),
  format: 'webp',
});
const style = `--duration: ${duration};--url: url(${optBg.src})`;
---

<span class={classList} style={style} {...attrs}><slot /></span>

<style>
  span {
    display: block;
    animation: moving10 var(--duration) linear infinite;
    background: var(--url);
    background-clip: text;
    width: fit-content;
    color: transparent;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
  }

  @keyframes moving10 {
    from {
      background-position: right bottom;
    }
    to {
      background-position: left top;
    }
  }
</style>
