---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- text as string
- color as string ("<color>") 
*/

interface Props {
  class?: string;
  duration?: string;
  text?: string;
  color?: string;
}
const {
  class: classList,
  text = 'Animation 34',
  duration = `${text.length / 3}s`,
  color = '#fff',
  ...attrs
} = Astro.props;
const style = `--duration: ${duration};--color: ${color};`;
const id = Math.random().toString(32).slice(2, 11);
---

<div id={id} class:list={['container34', classList]} style={style} {...attrs}>
  <div class="lightbar"></div>
  <div class="toplayer"></div>
  <span>{text}</span>
</div>

<style>
  .container34 {
    --shadow: 0 0 0.125em #00b3ff, 0 0 0.25em #00b3ff, 0 0 0.5em #00b3ff,
      0 0 1em #00b3ff, 0 0 1.5em #00b3ff;
    position: relative;
    background-color: #001d30;
    width: fit-content;
    overflow: clip;
    span {
      display: inline-block;
      padding: 0.5em;
      color: var(--color);
      font-size: 1.5rem;
      text-shadow: var(--shadow);
    }
    .lightbar {
      position: absolute;
      transform: scaleY(0) translateX(0);
      animation: lightbar34 var(--duration) linear infinite;
      inset: 0;
      box-shadow: var(--shadow);
      border-radius: 0.125em;
      background: var(--color);
      width: var(--lightbar-width);
      height: 100%;
    }
    .toplayer {
      position: absolute;
      top: -50%;
      left: calc(var(--lightbar-width) * 1);
      animation: toplayer34 calc(var(--duration) * 2) linear infinite;
      background: inherit;
      width: calc(100% - var(--lightbar-width) * 2);
      height: 200%;
    }
  }

  /* in 90% and 100% put the width of container */
  @keyframes lightbar34 {
    0% {
      transform: scaleY(0) translateX(0);
    }
    10% {
      transform: scaleY(1) translateX(0);
    }
    90% {
      transform: scaleY(1) translateX(var(--lightbar_move_until));
    }
    100% {
      transform: scaleY(0) translateX(var(--lightbar_move_until));
    }
  }
  @keyframes toplayer34 {
    0%,
    5% {
      transform: translateX(0);
    }
    45%,
    50% {
      transform: translateX(calc(100% + var(--lightbar-width)));
    }
    50.0001%,
    55% {
      transform: translateX(calc(-100% - var(--lightbar-width)));
    }
    95%,
    100% {
      transform: translateX(0);
    }
  }
</style>

<script define:vars={{ id }}>
  const container34 = document.getElementById(id);

  const container34Width = getComputedStyle(container34).width;
  container34.style.cssText += `--container34Width: ${container34Width};--lightbar-width: 0.18em;
    --lightbar_move_until: calc(
      var(--container34Width) - var(--lightbar-width)
    );`;
</script>
