---
/*
INFORMATIONS
set:
- href as string

set optionally:
- class as string
- duration as string 'value and s | ms'
- colors as string ("<hoverColor>, <hoverBgColor>")
*/

interface Props {
  href: string;
  class?: string;
  duration?: string;
  colors?: string;
}
const {
  href,
  class: classList,
  duration = '.5s',
  colors = '#fff, #f00',
  ...attrs
} = Astro.props;
const [hoverColor, hoverBgColor] = colors.split(',');

const style = `--duration: ${duration};--hoverColor: ${hoverColor};--hoverBgColor: ${hoverBgColor};`;
---

<a href={href} class:list={['container28', classList]} style={style} {...attrs}
  ><slot />
</a>

<style>
  a {
    display: inline-block;
    position: relative;
    z-index: 0;
    transition: var(--duration);
    background: #fff;
    padding: 0.5em 1em;
    overflow: clip;
    color: #222;
    font: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    &::before {
      position: absolute;
      top: 50%;
      left: -100%;
      transform: translateY(-50%);
      z-index: -1;
      background-color: var(--hoverBgColor);
      width: 100%;
      height: 4px;
      content: '';
    }
    &:hover {
      color: var(--hoverColor);
      &::before {
        animation: anim28 var(--duration) linear forwards;
      }
    }
  }

  @keyframes anim28 {
    0% {
      left: -100%;
      height: 4px;
    }
    50% {
      left: 0;
      height: 4px;
    }

    100% {
      left: 0;
      height: 100%;
    }
  }
</style>
