---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- size as string (size of square)
- colors as string ("<color1>, <color2>, <color3>, <color4>")
*/

interface Props {
  class?: string;
  duration?: string;
  size?: string;
  colors?: string;
}
const {
  class: classList,
  duration = '1s',
  size = '1rem',
  colors = 'orange, blue, white, yellow',
  ...attrs
} = Astro.props;

const [color1, color2, color3, color4] = colors.split(',');

const style = `--duration: ${duration};--size: ${size};--color1: ${color1};--color2: ${color2};--color3: ${color3};--color4: ${color4};`;
---

<div class:list={['container17', classList]} style={style} {...attrs}>
  {Array.from({ length: 4 }).map(() => <span />)}
</div>

<style>
  .container17 {
    --containerSize: calc(var(--size) * 2);
    position: relative;
    transform: rotate(45deg);
    animation: anim17 var(--duration) infinite linear;
    width: var(--containerSize);
    height: var(--containerSize);
    span {
      position: absolute;
      animation: anim17Spans var(--duration) infinite linear;
      width: var(--size);
      height: var(--size);
      &:nth-of-type(1) {
        top: 0;
        left: 0;
        background-color: var(--color1);
      }
      &:nth-of-type(2) {
        top: 0;
        right: 0;
        background-color: var(--color2);
      }
      &:nth-of-type(3) {
        right: 0;
        bottom: 0;
        background-color: var(--color3);
      }
      &:nth-of-type(4) {
        bottom: 0;
        left: 0;
        background-color: var(--color4);
      }
    }
  }
  @keyframes anim17 {
    0%,
    10% {
      width: var(--containerSize);
      height: var(--containerSize);
    }

    50% {
      width: calc(var(--containerSize) * 1.5);
      height: calc(var(--containerSize) * 1.5);
    }
    90%,
    100% {
      width: var(--containerSize);
      height: var(--containerSize);
    }
  }
  @keyframes anim17Spans {
    0%,
    10% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(90deg);
    }

    90%,
    100% {
      transform: rotate(90deg);
    }
  }
</style>
