---
import { Image } from 'astro:assets';

interface Props {
  class?: string;
  images: { imagePath: string; alt: string }[];
  width?: number;
  height?: number;
  format?: string;
  loading?: 'lazy' | 'eager' | null;
  imageTime?: string;
  duration?: string;
  transitionDuration?: string;
}
const {
  class: classList,
  images: imagesData,
  width = 800,
  height,
  format = 'webp',
  loading = 'lazy',
  duration = '3s',
  transitionDuration = '2s',
  ...attrs
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
imagesData.forEach((imgData) => {
  if (!images[imgData.imagePath])
    throw new Error(`${imgData.imagePath} does not exist`);
});
---

<div id="slider18" class={className} data-duration={duration} {...attrs}>
  {
    imagesData.map((imgData, idx) => (
      <Image
        class:list={[{ visible: idx === 0 }]}
        src={images[imgData.imagePath]()}
        alt={imgData.alt}
        width={width}
        height={height}
        format={format}
        loading={idx === 0 ? 'eager' : 'lazy'}
      />
    ))
  }
</div>

<style define:vars={{ transitionDuration }}>
  #slider18 {
    position: relative;
    img {
      display: block;
      position: absolute;
      opacity: 0;
      transition: var(--transitionDuration) ease-in-out;
      width: auto;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      &.visible {
        opacity: 1;
      }
    }
  }
</style>

<script>
  const slider = document.getElementById('slider18') as HTMLDivElement;
  const imgs = slider.querySelectorAll('img') as NodeListOf<HTMLImageElement>;
  const length = imgs.length;
  const duration = slider.dataset.duration!;
  const regex = /(?<time>[\d\.]+)(?<unit>(s|ms)$)/;
  const result = duration.match(regex)!;
  const time = +result.groups?.time!;
  const unit = result.groups?.unit!;
  let timeToKeep = time;
  if (unit === 's') {
    timeToKeep = time * 1000;
  }

  function switcher() {
    let index = 0;
    setInterval(() => {
      imgs[index].classList.remove('visible');
      index = (index + 1) % length;
      imgs[index].classList.add('visible');
    }, timeToKeep);
  }

  switcher();
</script>
