---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- hoverColor as string 
- href as string
*/

interface Props {
  class?: string;
  duration?: string;
  hoverColor?: string;
  href: string;
}
const {
  class: classList,
  duration = '0.3s',
  hoverColor = '#f44336',
  href,
  ...attrs
} = Astro.props;

const style = `--duration: ${duration};--hoverColor: ${hoverColor};`;
---

<a class={classList} href={href} style={style} {...attrs}><slot /></a>

<style>
  a {
    display: inline-block;
    transition: var(--duration);
    border: 0.12em solid #fff;
    background-color: #333;
    padding: 0.5em 0.7em;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1;
    text-decoration: none;
    &:hover {
      animation: shake var(--duration) linear;
      border-color: var(--hoverColor);
      color: var(--hoverColor);
    }
  }

  @keyframes shake {
    33% {
      transform: rotate(10deg);
    }
    66% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
</style>
