---
/*
INFORMATIONS
set optionally:
- class as string
- cometsNumber as number
- duration as string 'value and s | ms'
- size as string
- color as string ("<color>") 
*/

interface Props {
  class?: string;
  cometsNumber?: number;
  duration?: string;
  size?: string;
  color?: string;
}
const {
  class: classList,
  cometsNumber = 1,
  duration = `${2 / cometsNumber}s`,
  size = '4rem',
  color = '#00c3ff',
  ...attrs
} = Astro.props;

const style = `--duration: ${duration};--size: ${size};--color: ${color};--cometsNumber: ${cometsNumber};`;
---

<div class:list={['container35', classList]} style={style} {...attrs}>
  <div class="loader35">
    {Array.from({ length: 20 }).map((_, idx) => <span style={`--n: ${idx}`} />)}
  </div>
</div>

<style>
  .container35 {
    position: relative;
    background: #001d30;
    width: var(--size);
    height: var(--size);
    .loader35 {
      --loaderSize: calc(var(--size) * 0.75);
      --offset: calc((100% - var(--loaderSize)) / 2);
      position: absolute;
      top: var(--offset);
      left: var(--offset);
      border-radius: 50%;
      width: var(--loaderSize);
      height: var(--loaderSize);

      span {
        --spanSize: calc(var(--size) / 8);
        position: absolute;
        transform: rotate(calc(18deg * var(--n)));
        inset: 0;
        &::before {
          position: absolute;
          animation: loading35 var(--duration) linear infinite;
          animation-delay: calc(
            var(--duration) / 20 * var(--cometsNumber) * var(--n)
          );
          inset: 0;
          box-shadow:
            0 0 calc(var(--spanSize) * 0.75) var(--color),
            0 0 calc(var(--spanSize) * 1.5) var(--color),
            0 0 calc(var(--spanSize) * 3) var(--color),
            0 0 calc(var(--spanSize) * 4.5) var(--color),
            0 0 calc(var(--spanSize) * 6) var(--color),
            0 0 calc(var(--spanSize) * 7.5) var(--color);
          border-radius: 50%;
          background: var(--color);
          width: var(--spanSize);
          height: var(--spanSize);
          content: '';
        }
      }
    }
  }

  @keyframes loading35 {
    0% {
      transform: scale(1);
    }
    80%,
    100% {
      transform: scale(0);
    }
  }
</style>
