---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- text as string
- size as string
- ringColor as string ("<color>")
*/

interface Props {
  class?: string;
  duration?: string;
  text: string;
  size?: string;
  ringColor?: string;
}
const {
  class: classList,
  duration = '1s',
  text,
  size = '5rem',
  ringColor = '#262626',
  ...attrs
} = Astro.props;
const style = `--duration: ${duration};--size: ${size};--ringColor: ${ringColor};`;
---

<div class:list={['container20', classList]} style={style} {...attrs}>
  <span>{text}</span>
</div>

<style>
  .container20 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: var(--size);
    font-size: 1.3rem;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      animation: anim20 var(--duration) infinite linear;
      border-left: calc(var(--size) * 0.025) solid var(--ringColor);
      border-radius: 50%;
      width: 100%;
      height: 100%;
      content: '';
    }
  }

  @keyframes anim20 {
    to {
      transform: rotate(360deg);
    }
  }
</style>
