---
/*
INFORMATIONS
set
- varTexts as string with texts separated by commas
set optionally:
- class as string
- duration as string 'value and s | ms'
- varColor as string
*/

interface Props {
  class?: string;
  duration?: string;
  varTexts?: string;
  varColor?: string;
}
const {
  varTexts = 'TRANSITIONS, ANIMATIONS, TRANSFORMS',
  varColor = '#ff0',
  class: classList,
  duration = '4s',
  ...attrs
} = Astro.props;

const regex = /(?<quantity>[\d\.]+)(?<unit>[a-z]+)/;
const result = duration.match(regex)!;
const quantity = +result.groups?.quantity!;
const unit = result.groups?.unit?.toLowerCase();
const fixDuration = unit === 's' ? quantity * 1000 : quantity;
const text1 = varTexts.split(',')[0];
const style = `--varColor: ${varColor};`;
---

<div class:list={['container', classList]} style={style} {...attrs}>
  <h3 id="animation04_unibox">
    <slot />
    <span data-texts={varTexts} data-duration={fixDuration}>{text1}</span>
  </h3>
</div>

<style>
  .container {
    background: #ea2027;
    padding: 1em;
    width: fit-content;
    color: #fff;
    font-size: 1em;
    h3 {
      span:last-of-type {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        color: var(--varColor);
        &.visible {
          opacity: 1;
        }
      }
    }
  }
</style>

<script>
  const h3 = document.getElementById(
    'animation04_unibox'
  )! as HTMLHeadingElement;
  const varSpan = h3.querySelector('span:last-of-type') as HTMLSpanElement;

  let index = 0;
  const texts = varSpan.dataset.texts?.split(',')!;
  const duration = +varSpan.dataset.duration!;

  setInterval(() => {
    varSpan.textContent = texts[index];
    varSpan.classList.add('visible');
    index = (index + 1) % texts?.length;
    setTimeout(() => varSpan.classList.remove('visible'), duration);
  }, duration + 500);
</script>
