---
import { getImage, Image } from 'astro:assets';
import bg from '@/images/animation03/bg.webp';
import car from '@/images/animation03/car.webp';
import motobike from '@/images/animation03/motobike.webp';

/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- width as number (default 270)
*/

interface Props {
  class?: string;
  duration?: string;
}
// prettier-ignore
const { class: classList, duration = '5s', ...attrs } = Astro.props;
// prettier-ignore
const optBg = await getImage({ src: bg, alt: 'background', format: 'webp', loading: 'lazy',
});

const { width: calcWidth, height: calcHeight } = optBg.attributes;
const ratio = calcWidth / calcHeight;

const style = `--url: url(${optBg.src});--duration: ${duration};`;
---

<div
  id="container03_unibox"
  class:list={['container', classList]}
  style={style}
  {...attrs}
>
  <Image class="car" src={car} alt="car" format="webp" loading="lazy" />
  <Image
    class="motobike"
    src={motobike}
    alt="motobike"
    format="webp"
    loading="lazy"
  />
</div>

<style>
  .container {
    position: relative;
    animation: driving03 var(--duration) linear infinite;
    background: var(--url);
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;
    width: 15rem;
    max-width: 100%;
    height: var(--height) !important;

    img {
      display: block;
      position: absolute;
      max-width: 100%;
    }
    .car {
      bottom: 1%;
      left: 25%;
      width: 20%;
      height: auto;
    }
    .motobike {
      bottom: 7%;
      left: 60%;
      width: 10%;
      height: auto;
    }
  }

  /* if background-size is set, background-position will not work with percentages or literals values */
  @keyframes driving03 {
    from {
      background-position-x: var(--width);
    }
    to {
      background-position-x: 0;
    }
  }
</style>

<script define:vars={{ ratio }}>
  const container = document.getElementById('container03_unibox');

  calcSizes();
  window.addEventListener('resize', calcSizes);

  function calcSizes() {
    const width = getComputedStyle(container).width;
    const height = `${(parseFloat(width) / parseFloat(ratio)).toFixed(2)}px !important;`;
    container.style.cssText += `--width: ${width};--height: ${height};`;
  }
</script>
