---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- number as number of squares
- colors as string ("<color1>, <color2>, ...")
*/

interface Props {
  class?: string;
  duration?: string;
  number?: number;
  colors?: string;
  maxSize?: string;
}
const {
  class: classList,
  duration = '8s',
  number = 10,
  colors = '#09f, red, #fff',
  maxSize = '1.6em',
  ...attrs
} = Astro.props;

const colorsArray = colors.split(',');
const colorsLength = colorsArray.length;
function randNum() {
  return Math.floor(Math.random() * 90 * 10) / 10;
}
function randColorIndex() {
  return Math.floor(Math.random() * colorsLength);
}
function randDelay() {
  return `calc(${parseFloat(Math.random().toFixed(2))} * var(--duration))`;
}

const style = `--duration: ${duration};--maxSize: ${maxSize};`;
---

<div class:list={['container29', classList]} style={style} {...attrs}>
  {
    Array.from({ length: number }).map(() => (
      <div
        class="square"
        style={`top: ${randNum()}%;left: ${randNum()}%;--delay: ${randDelay()};--color: ${colorsArray[randColorIndex()]}`}
      />
    ))
  }
  <slot />
</div>

<style>
  .container29 {
    position: relative;
    z-index: 0;
    background: #273c75;
    padding: 2rem;
    width: fit-content;
    overflow: clip;
    color: #fff;
    font-size: 1.5rem;
    .square {
      position: absolute;
      transform: scale(0);
      z-index: -1;
      animation: anim29 var(--duration) infinite ease-in-out;
      animation-delay: var(--delay);
      border: 0.1em solid var(--color);
      width: var(--maxSize);
      height: var(--maxSize);
    }
  }
  @keyframes anim29 {
    0% {
      transform: rotate(0deg) scale(0);
      opacity: 1;
    }

    100% {
      transform: rotate(960deg) scale(1);
      opacity: 0;
    }
  }
</style>
