---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- width as string
- height as string
- color as string ("<color>")
*/

interface Props {
  class?: string;
  duration?: string;
  width?: string;
  height?: string;
  color?: string;
}
const {
  class: classList,
  duration = '2s',
  width = '9rem',
  height = '3px',
  color = '#fff',
  ...attrs
} = Astro.props;
const style = `--duration: ${duration};--width: ${width};--height: ${height};--color: ${color};`;
---

<div class:list={['container21', classList]} style={style} {...attrs}>
  <div class="line21"></div>
</div>

<style>
  .container21 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    width: calc(var(--width) * 1.5);
    height: calc(var(--height) * 20);
    .line21 {
      animation: anim21 var(--duration) infinite linear alternate;
      background-color: var(--color);
      width: var(--width);
      height: var(--height);
    }
  }

  @keyframes anim21 {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }

    47.5% {
      transform: scaleX(1);
      transform-origin: left;
    }
    52.5% {
      transform: scaleX(1);
      transform-origin: right;
    }
    100% {
      transform: scaleX(0);
      transform-origin: right;
    }
  }
</style>
