---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- size as string (container's with/height)
- color as string ("<color>")
*/

interface Props {
  class?: string;
  duration?: string;
  size?: string;
  color?: string;
}
const {
  class: classList,
  duration = '2s',
  size = '3rem',
  color = '#ff0',
  ...attrs
} = Astro.props;

const style = `--duration: ${duration};--size: ${size};--color: ${color};`;
---

<div class:list={['loading18', classList]} style={style} {...attrs}>
  {
    Array.from({ length: 3 }).map((_, idx) => (
      <span style={`--delay: calc(var(--duration)*0.3333 * ${idx})`} />
    ))
  }
</div>

<style>
  .loading18 {
    position: relative !important;
    background: #ee5253;
    width: var(--size) !important;
    height: var(--size) !important;
    span {
      --spanSize: calc(var(--size) / 2.5);
      position: absolute;
      animation: anim18 var(--duration) infinite linear;
      animation-delay: var(--delay);
      inset: 0;
      border-radius: calc(var(--spanSize) * 0.1);
      background: var(--color);
      width: var(--spanSize);
      height: var(--spanSize);
    }
  }

  @keyframes anim18 {
    12.5%,
    25% {
      top: 0;
      left: 60%;
    }
    37.5%,
    50% {
      top: 60%;
      left: 60%;
    }
    62.5%,
    75% {
      top: 60%;
      left: 0;
    }
    87.5%,
    100% {
      top: 0;
      left: 0;
    }
  }
</style>
