---
import { getImage, Image } from 'astro:assets';
import bg from '@/images/animation03/bg.webp';
import car from '@/images/animation03/car.webp';
import motobike from '@/images/animation03/motobike.webp';

/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
*/

interface Props {
  duration?: string;
  class?: string;
}
const { class: classList, duration = '5s', ...attrs } = Astro.props;
const optBg = await getImage({
  src: bg,
  alt: 'background',
  format: 'webp',
  loading: 'lazy',
});
const style = `--url: url(${optBg.src});--duration: ${duration};`;
---

<div
  id="container03alsdkfj"
  class:list={['container', classList]}
  style={style}
  {...attrs}
>
  <Image id="bg" src={bg} alt="bg" width={10} priority />
  <Image class="car" src={car} alt="car" format="webp" loading="lazy" />
  <Image
    class="motobike"
    src={motobike}
    alt="motobike"
    format="webp"
    loading="lazy"
  />
</div>

<style>
  .container {
    --car-width: 20%;
    position: relative;
    animation: driving03 var(--duration) linear infinite;
    background: var(--url);
    /* if background-size is set, background-position will not work with percentages or literals values */
    background-size: cover;
    background-position-x: var(--width);
    background-position-y: bottom;
    width: 15rem;

    #bg {
      position: static;
      opacity: 0;
      width: 100%;
      height: auto;
    }
    img {
      display: block;
      max-width: 100%;
      &:not(#bg) {
        position: absolute;
      }
    }
    .car {
      bottom: 1%;
      left: 25%;
      width: var(--car-width);
      height: auto;
    }
    .motobike {
      bottom: 7%;
      left: 60%;
      width: calc(var(--car-width) / 2);
      height: auto;
    }
  }

  @keyframes driving03 {
    from {
      background-position-x: var(--width);
    }
    to {
      background-position-x: 0;
    }
  }
</style>

<script>
  const container = document.getElementById('container03alsdkfj')!;

  const width = getComputedStyle(container).width;

  container.style.cssText += `--width: ${width};`;
</script>
