---
import { getImage } from 'astro:assets';
import rain from '@/images/animation11/rain.png';

/*
INFORMATIONS
set
- imagePath as string
set optionally:
- class as string
- duration as string 'value and s | ms'
*/

interface Props {
  class?: string;
  duration?: string;
  imagePath?: string;
}
// prettier-ignore
const { class: classList, imagePath = '/src/images/animation11/bg.jpg', duration = '5s', ...attrs } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
if (!images[imagePath]) throw new Error(`${imagePath} does not exist`);
// prettier-ignore
const optBg = await getImage({ src: images[imagePath](), format: 'webp', loading: 'lazy',
});
const { width: calcWidth, height: calcHeight } = optBg.attributes;
const ratio = calcWidth / calcHeight;
const optRain = await getImage({
  src: rain,
  format: 'webp',
  loading: 'lazy',
});
const style = `--bgUrl: url(${optBg.src}); --rainUrl: url(${optRain.src});--duration: ${duration}`;
---

<div
  id="container11_unibox"
  class:list={['container12', classList]}
  style={style}
  {...attrs}
>
  <div class="rain"></div>
</div>

<style>
  .container12 {
    position: relative;
    background: var(--bgUrl) center / cover;
    width: 15rem;
    height: var(--height) !important;

    .rain {
      position: absolute;
      animation: rain12 var(--duration) linear infinite;
      inset: 0;
      background: var(--rainUrl);
      background-size: cover;
    }
  }
  /* if background-size is set, background-position does not accept values in % 
  */
  @keyframes rain12 {
    from {
      background-position: -4em bottom;
    }
    to {
      background-position: 0 top;
    }
  }
</style>

<script define:vars={{ ratio }}>
  const container = document.getElementById('container11_unibox');

  calcSizes();
  window.addEventListener('resize', calcSizes);

  function calcSizes() {
    const width = getComputedStyle(container).width;
    const height = `${(parseFloat(width) / parseFloat(ratio)).toFixed(2)}px !important;`;
    container.style.cssText += `--width: ${width};--height: ${height};`;
  }
</script>
