---
// use the image in the below url
import wave from '/src/images/wave.png';
import { getImage } from 'astro:assets';

/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- color as string ("<color>") 
*/

interface Props {
  class?: string;
  duration?: string;
  color?: string;
}
const {
  class: classList,
  duration = '1.5s',
  color = '#00aeff',
  ...attrs
} = Astro.props;
const optWave = await getImage({ src: wave, format: 'webp' });
// console.log('🚀 ~ :27 ~ optWave:', optWave);
let { width, height } = optWave.attributes;
width += 'px';
height += 'px';

const style = `--duration: ${duration};--color: ${color};--width: ${width};--height: ${height};`;
---

<a class={classList} style={style} {...attrs}
  ><slot />
  <div class="wave" style={`--url: url(${optWave.src})`}></div>
</a>

<style>
  a {
    display: inline-block;
    position: relative;
    z-index: 0;
    transition: var(--duration);
    border: 0.125em solid var(--color);
    background: #222;
    padding: 0.5rem 2rem;
    width: 15rem;
    overflow: clip;
    color: var(--color);
    font-size: 1.8rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    .wave {
      position: absolute;
      top: calc(100% + var(--height));
      left: 0;
      z-index: -1;
      transition: var(--duration);
      background-color: var(--color);
      width: 100%;
      height: 100%;

      &::before {
        position: absolute;
        top: calc(var(--height) * -1);
        left: 0;
        background: var(--url);
        width: 100%;
        height: 100%;
        content: '';
      }
    }
    &:hover {
      color: white;
      .wave {
        top: 0;
        &::before {
          animation: wavy15 var(--duration) linear infinite;
        }
      }
    }
  }
  @keyframes wavy15 {
    from {
      background-position-x: left;
    }
    to {
      background-position-x: right;
    }
  }
</style>
