---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
*/

interface Props {
  class?: string;
  duration?: string;
}
const { class: classList, duration = '3s', ...attrs } = Astro.props;
const style = `--duration: ${duration};`;
---

<div
  id="container17_unibox"
  class:list={['container17', classList]}
  style={style}
  data-duration={duration}
  {...attrs}
>
  <h3><slot /></h3>
</div>

<style>
  .container17 {
    transition: calc(var(--duration) / 1.5);
    padding: 1em;
    width: 15rem;
    text-align: center;
  }
</style>

<script>
  const container = document.getElementById(
    'container17_unibox'
  ) as HTMLDivElement;
  const duration = container.dataset.duration!;
  const regex = /(?<time>[\d\.]+)(?<unit>s|ms)/;
  const result = duration.match(regex)!;
  let time = +result.groups?.time!;
  const unit = result.groups?.unit!;
  if (unit === 's') {
    time *= 1000;
  }
  function hslGen() {
    const h = Math.floor(Math.random() * 361);
    const s = parseFloat(
      (Math.trunc(Math.random() * (100 * 10 + 1)) / 10).toFixed(1)
    );
    const l = parseFloat(
      (Math.trunc(Math.random() * (100 * 10 + 1)) / 10).toFixed(1)
    );
    return {
      bg: `hsl(${h} ${s}% ${l}%)`,
      color: `hsl(${(h + 170) % 360} ${s}% ${Math.round((100 - l) * 10) / 10}%)`,
    };
  }
  function changeBg() {
    const colors = hslGen();
    container.style.backgroundColor = colors.bg;
    container.style.color = colors.color;
  }
  setInterval(changeBg, time);
  changeBg();
</script>
