---
import { Image } from 'astro:assets';

/* INFORMATIONS:
set: 
- url as string (url of the image)
- alt as string 
- width and/or height as numbers
- loading as 'lazy' or 'eager' or null
- format as string
set optionally:
- class as string
- duration as string 'value and s | ms' 
- cardHeight as string (starting card height)
*/

interface Props {
  class?: string;
  duration?: string;
  imagePath: string;
  alt: string;
  width?: number;
  height?: number;
  loading?: 'lazy' | 'eager' | null;
  format?: string;
  cardHeight: string;
}
// prettier-ignore
const { class: className, duration =".5s", imagePath, alt, width, height=400,  loading="lazy", format='webp', cardHeight, ...attrs } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
if (!images[imagePath]) throw new Error(`${imagePath} does not exist`);
---

<article class={className} {...attrs}>
  <figure>
    <Image
      src={images[imagePath]()}
      alt={alt}
      width={width}
      height={height}
      format={format}
      loading={loading}
    />
  </figure>
  <div class="content"><slot /></div>
</article>

<style define:vars={{ duration, cardHeight }}>
  article {
    --offset: -3em;
    display: flex;
    position: relative;
    flex-direction: column;
    transition: var(--duration);
    box-shadow: 0 10px 30px #26262688;
    background-color: #fafafa;
    padding: 1rem 2rem;
    width: 100%;
    max-height: var(--cardHeight);
    &,
    img {
      border-radius: 0.4em;
    }

    figure {
      position: relative;
      transform: translateY(var(--offset));
      z-index: 1;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .content {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      transform: translateY(-100%);
      opacity: 0;
      transition: var(--duration);
      color: #111;
      p {
        color: #26262688;
      }
    }

    &:hover {
      max-height: 40rem;
      .content {
        transform: translateY(calc(var(--offset) * 0.5));
        opacity: 1;
      }
    }
  }
</style>
