---
import { getImage } from 'astro:assets';

/* INFORMATIONS:
set: 
- url as sgtring
- alt as string 
- width and/or height as numbers
- loading as 'lazy' or 'eager' or null (default 'lazy')
- format as string
set optionally:
- class as string
- duration as string 'value and s | ms' 
*/
interface Props {
  class?: string;
  duration?: string;
  colors?: string;
  url: string;
  alt: string;
  width?: number;
  height?: number;
  loading?: 'lazy' | 'eager' | null;
  format?: string;
  caption?: string;
}
// prettier-ignore
const { class: classList, duration =".5s",   url, alt, width=400,  height, loading="lazy", format="webp",   ...attrs } = Astro.props;

const id = 'card_' + Math.random().toString(36).slice(2, 11);

const styles = `--duration: ${duration};`;

const { src } = await getImage({ src: url, format, width, height, loading });
---

<article id={id} class={classList} style={styles} {...attrs}>
  <img src={src} alt={alt} />
  <div class="content"><slot /></div>
</article>

<style>
  article {
    position: relative;
    cursor: pointer;
    box-shadow: 0 30px 30px #00000088;
    background-color: #262626;
    height: 100%;

    img {
      display: block;
      transition: var(--duration);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      --width: 80%;
      display: flex;
      position: absolute;
      bottom: 0;
      left: calc((100% - var(--width)) / 2);
      flex-direction: column;
      gap: 1em;
      z-index: 1;
      transition: var(--duration);
      background-color: #fafafa;
      padding: 0 1em 1em;
      width: var(--width);
      height: var(--height);
      overflow: hidden;
      text-align: center;
      & > *:first-child {
        height: var(--height);
        font-size: 1.5em;
        line-height: var(--height);
      }

      & > *:not(:first-child) {
        opacity: 0;
        transition: all var(--duration);
      }
      & > *:last-child {
        align-self: center;
        margin: auto 0 1rem;
        border: 2px solid transparent;
        border-radius: 0.25em;
        background-color: #262626;
        padding: 10px 15px;
        color: #fafafa;
        &:hover {
          border-color: currentColor;
          background: #fff;
          color: #000;
        }
      }
    }

    &:hover {
      img {
        opacity: 0;
      }
      .content {
        left: 0;
        width: 100%;
        height: 100%;
        & > *:not(:first-child) {
          opacity: 1;
          transition:
            all var(--duration),
            opacity var(--duration) var(--duration);
        }
      }
    }
  }
</style>

<script define:vars={{ id }}>
  const card = document.getElementById(id);
  const content = card.querySelector('.content');
  const title = content.querySelector('& > *:first-child');

  const titleFontSize = parseFloat(getComputedStyle(title).fontSize);

  content.style.cssText += `--height: ${titleFontSize * 3}px;`;
</script>
