---
import { Image } from 'astro:assets';

/* INFORMATIONS:
set: 
- imagePath as string
- alt as string 
- width and/or height as numbers
- loading as 'lazy' or 'eager' or null (default 'lazy')
- format as string
set optionally:
- class as string
- duration as string 'value and s | ms' 
*/
interface Props {
  class?: string;
  duration?: string;
  colors?: string;
  imagePath: string;
  alt: string;
  width?: number;
  height?: number;
  loading?: 'lazy' | 'eager' | null;
  format?: string;
}
// prettier-ignore
const { class: classList, duration =".5s", colors='#219bf3', imagePath, alt, width=400,  height, loading="lazy", format="webp", ...attrs } = Astro.props;

const [color1] = colors.split(',');
const styles = `--duration: ${duration};--color1: ${color1};`;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
if (!images[imagePath]) throw new Error(`${imagePath} does not exist`);
---

<!-- prettier-ignore -->
<article class={classList} style={styles} {...attrs}>
  <figure>
     <Image src={images[imagePath]()} alt={alt} width={width} height={height} format={format} loading={loading} />
  </figure>
  <div class="details"><slot /></div>
</article>

<style>
  article {
    position: relative;
    cursor: pointer;
    border-radius: 1em;
    background-color: #122936;
    width: 100%;
    overflow: clip;

    &::before {
      position: absolute;
      top: -50%;
      left: 0;
      transform: skewY(-15deg);
      transition: var(--duration);
      background-color: var(--color1);
      width: 100%;
      height: 100%;
      content: '';
    }

    figure {
      position: relative;
      transition: var(--duration);
      margin: 0 auto;
      padding-top: 20px;
      max-width: 60%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .details {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      color: #fafafa;
      text-align: center;

      & > *:last-child {
        transform: translateY(3em);
        opacity: 0;
        transition: var(--duration);
        pointer-events: none;
      }
    }

    &:hover {
      &::before {
        top: -70%;
        transform: skewY(30deg);
      }
      figure {
        max-width: 50%;
      }
      .details > *:last-child {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
      }
    }
  }
</style>
