---
import { Image } from 'astro:assets';

/* INFORMATIONS:
set: 
- imagePath as string
- alt as string 
- width and/or height as numbers
- loading as 'lazy' or 'eager' or null
set optionally:
- class as string
- duration as string 'value and s | ms' 
*/
interface Props {
  class?: string;
  duration?: string;
  imagePath: string;
  alt: string;
  width?: number;
  height?: number;
  format?: string;
  loading?: 'lazy' | 'eager' | null;
  gradients?: string;
}
// prettier-ignore
const { class: className, duration =".5s",  imagePath, alt, width=400,  height, format='webp', loading="lazy", gradients='#d41e31, #491f8f', ...attrs } = Astro.props;

const [gradient1, gradient2] = gradients.split(',');

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
if (!images[imagePath]) throw new Error(`${imagePath} does not exist`);
---

<!-- prettier-ignore -->
<article class={className} {...attrs}>
  <figure>
    <Image src={images[imagePath]()} alt={alt} width={width} height={height} format={format} loading={loading}
    />
  </figure>
  <div class="content"><slot /></div>
</article>

<style define:vars={{ duration, gradient1, gradient2 }}>
  article {
    position: relative;
    transition: var(--duration);
    box-shadow: 0 10px 30px #26262688;
    border-radius: 10px;
    background: linear-gradient(45deg, var(--gradient1), var(--gradient2));
    width: 100%;
    figure {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) scale(1);
      transform-origin: bottom;
      z-index: 100;
      transition: calc(var(--duration) * 0.6);
      height: 110%;
      pointer-events: none;

      img {
        margin: 0 auto;
        width: auto;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      display: flex;
      position: relative;
      top: 0;
      left: 25%;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      opacity: 0;
      z-index: 101;
      transition: 0.3s;
      padding: 0.5rem 1rem;
      width: 60%;
      min-height: 100%;
      color: #fff;
      font-size: 0.8rem;
      h3 {
        font-weight: 700;
        font-size: 0.8rem;
      }

      p {
        align-self: center;
        color: #aaa;
      }
      a {
        border-radius: 10px;
        background-color: #fafafa;
        padding: 5px 10px;
        width: max-content;
        color: black;
      }
    }

    &:hover {
      figure {
        transform: translateX(-10%) scale(1.2);
      }
      .content {
        left: 0;
        opacity: 1;
      }
    }
  }
</style>
