---
import { imageMetadata } from 'astro/assets/utils';
import { Image } from 'astro:assets';
import { getImage } from 'astro:assets';

/* INFORMATIONS:
set: 
- url as string (url of the image)
- alt as string 
- width and/or height as numbers
- loading as 'lazy' or 'eager' or null
- format as string
set optionally:
- class as string
- duration as string 'value and s | ms' 
- cardHeight as string (starting card height)
*/

interface Props {
  class?: string;
  duration?: string;
  imagePath: string;
  alt: string;
  width?: number;
  height?: number;
  loading?: 'lazy' | 'eager' | null;
  format?: string;
}
// prettier-ignore
const { class: className, duration =".5s", imagePath, alt, width, height=400,  loading="lazy", format='webp',  ...attrs } = Astro.props;
console.log('🚀 ~ :31 ~ imagePath:', imagePath);

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/cards/*'
);
console.log('🚀 ~ :33 ~ images:', images);
if (!images[imagePath])
  throw new Error(`${imagePath} does not exist in @/images/cards/`);
---

<article class={className} {...attrs}>
  <figure>
    <Image
      src={images[imagePath]()}
      alt={alt}
      width={width}
      height={height}
      format={format}
      loading={loading}
    />
  </figure>
  <div class="content"><slot /></div>
</article>

<style define:vars={{ duration }}>
  article {
    --offset: 3em;
    display: flex;
    position: relative;
    flex-direction: column;
    transform: translateY(calc(var(--offset) * 0.75));
    transition: var(--duration);
    box-shadow: 0 10px 30px #26262688;
    background-color: #fafafa;
    padding: 1rem 2rem;
    width: 100%;
    &,
    img {
      border-radius: 0.4em;
    }

    figure {
      position: relative;
      transform: translateY(calc(var(--offset) * -1));
      z-index: 1;
      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .content {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      transform: translateY(-10rem);
      /* opacity: 0; */
      transition:
        transform calc(var(--duration) * 0.6),
        max-height var(--duration);
      max-height: 0;
      overflow-y: hidden;
      color: #111;
      p {
        color: #26262688;
      }
    }

    &:hover {
      .content {
        transform: translateY(calc(var(--offset) * -0.5));
        max-height: 40rem;
      }
    }
  }
</style>
