---
import { getImage, Image } from 'astro:assets';

/* INFORMATIONS:
set: 
- imagePath as string
- alt as string 
- width and/or height as numbers
- loading as 'lazy' or 'eager' or null (default 'lazy')
- format as string
- details as string text
set optionally:
- class as string
- duration as string 'value and s | ms' 
*/
interface Props {
  class?: string;
  duration?: string;
  colors?: string;
  imagePath: string;
  alt: string;
  width?: number;
  height?: number;
  loading?: 'lazy' | 'eager' | null;
  format?: string;
}
// prettier-ignore
const { class: className, duration =".5s",   imagePath, alt, width=300,  height, loading="lazy", format="webp",  ...attrs } = Astro.props;

const id = Math.random().toString(36).slice(2, 11);

const images = import.meta.glob<{ default: ImageMetadata }>('/src/**/*');
if (!images[imagePath]) throw new Error(`${imagePath} does not exist`);
---

<!-- prettier-ignore -->
<article id={id} class={className} {...attrs}>
  <figure>
    <Image src={images[imagePath]()} alt={alt} width={width} height={height} format={format} loading={loading}
    />
  </figure>
  <div class="details"><slot /></div>
</article>

<style define:vars={{ duration }}>
  article {
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px #00000033;
    background-color: #fafafa;
    width: 100%;

    &,
    &::before,
    &::after {
      border-radius: 4px;
    }

    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      transition: var(--duration);
      inset: 0;
      background-color: #fafafa;
      content: '';
    }

    figure {
      position: absolute;
      z-index: 1;
      transition: var(--duration);
      inset: 10px;
      background-color: #fafafa;

      img {
        display: block;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .details {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.75em 0.5em;
      width: 100%;
      color: #262626;
      font-size: 1.5em;
      text-align: center;
    }

    &:hover {
      &::before,
      &::after {
        box-shadow: 0 2px 20px #00000033;
      }
      &::before {
        transform: rotate(20deg);
      }
      &::after {
        transform: rotate(10deg);
      }
      figure {
        bottom: var(--figure-bottom);
      }
    }
  }
</style>

<script define:vars={{ id }}>
  const article = document.getElementById(id);
  const details = article.querySelector('.details');

  const detailsHeight = getComputedStyle(details).height;

  article.style.cssText += `--figure-bottom: ${detailsHeight};`;
</script>
