---
import { Image } from 'astro:assets';

/* INFORMATIONS:
set: 
- imagePath as string
- alt as string 
- width and/or height as numbers
- loading as 'lazy' or 'eager' or null (default 'lazy')
- format as string
set optionally:
- class as string
- duration as string 'value and s | ms' 
*/
interface Props {
  class?: string;
  duration?: string;
  colors?: string;
  imagePath: string;
  alt: string;
  width?: number;
  height?: number;
  loading?: 'lazy' | 'eager' | null;
  format?: string;
  title: string;
}
// prettier-ignore
const { class: classList, duration =".5s", colors='#9bdc22, #03a9f4, #e91e63', imagePath, alt, width=400, height, loading="lazy", format="webp", title='Card09', ...attrs } = Astro.props;

const [color1, color2, color3] = colors.split(',');
const styles = `--duration: ${duration};--color1: ${color1};--color2: ${color2};--color3: ${color3};`;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
if (!images[imagePath]) throw new Error(`${imagePath} does not exist`);
---

<!-- prettier-ignore -->
<article class={classList} style={styles} data-content={title} {...attrs}>
  <figure>
    <Image src={images[imagePath]()} alt={alt} width={width} height={height} format={format} loading={loading} />
  </figure>
  <div class="content">
    <h3>Card09</h3>
      <div class="size">
        <h4>Size:</h4>
        <span>7</span><span>8</span><span>9</span><span>10</span>
      </div>
      <div class="color">
        <h4>Color:</h4>
        <span></span><span></span><span></span>
      </div>
      <a href="">Buy Now</a>
  </div>
</article>

<style>
  article {
    position: relative;
    cursor: pointer;
    border-radius: 1em;
    background-color: #232323;
    width: 100%;
    overflow: clip;

    &::before,
    &::after {
      position: absolute;
    }

    /* circle */
    &::before {
      clip-path: circle(150px at 80% 20%);
      transition: var(--duration) ease-in-out;
      inset: 0;
      background-color: var(--color1);
      content: '';
    }
    &::after {
      top: 30%;
      left: -20%;
      content: attr(data-content);
      color: #ffffff05;
      font-style: italic;
      font-weight: 800;
      font-size: 12em;
    }

    figure {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: var(--duration);
      padding: 4em 0;
      width: 100%;

      img {
        display: block;
        position: relative;
        transform: rotate(-25deg);
        margin: 0 auto;
        width: 70%;
        height: auto;
        object-fit: cover;
      }
    }

    .content {
      position: absolute;
      bottom: 0;
      z-index: 5;
      transition: 1s;
      width: 100%;
      height: 5em;
      color: #fafafa;
      text-align: center;

      h3 {
        position: relative;
        margin-bottom: 1em;
        font-weight: 600;
        letter-spacing: 1px;
      }
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: var(--duration);
        padding: 8px 20px;
        & > *:first-child {
          margin-right: 10px;
          font-weight: 300;
          font-size: 0.8rem;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        span {
          cursor: pointer;
          margin: 0 5px;
        }
      }
      .size span {
        transition: var(--duration);
        border-radius: 4px;
        background-color: white;
        width: 1.5rem;
        height: 1.5rem;
        color: #111;
        font-size: 0.8rem;
        line-height: 1.4rem;
      }
      .color span {
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        &:nth-of-type(1) {
          background-color: var(--color1);
        }
        &:nth-of-type(2) {
          background-color: var(--color2);
        }
        &:nth-of-type(3) {
          background-color: var(--color3);
        }
      }

      a {
        position: relative;
        transform: translateY(3em);
        opacity: 0;
        transition: var(--duration);
        margin-top: 0.5em;
        border-radius: 0.2em;
        background-color: #fafafa;
        padding: 0.5em 1.5em;
        color: #111;
        font-weight: 600;
      }
    }

    &:hover {
      &::before {
        clip-path: circle(17rem at 80% -20%);
      }
      figure {
        top: 0;
        transform: translateY(0);
      }
      .content {
        height: 12em;
        & > div {
          opacity: 1;
        }
        .size {
          transition-delay: var(--duration);
        }
        .color {
          transition-delay: calc(var(--duration) * 1.2);
        }
        a {
          transform: translateY(0);
          opacity: 1;
          transition-delay: calc(var(--duration) * 1.25);
        }
      }
    }
    .size span:hover {
      background-color: var(--color1);
    }
  }
</style>
