---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
- colors as string 'hoverBgColor1, hoverBgColor2, hoverColor1 or hoverColor1, hoverColor2' 
*/

type Tag = 'a' | 'button';
type AnchorProps = {
  href: string;
};
type ButtonProps = {
  type?: 'submit' | 'reset' | 'button';
};

// prettier-ignore
type Props<TagGeneric extends Tag> = {
  tag?: TagGeneric;
  class?: string;
  duration?: string;
  colors?: string;
  [key: string]: string | string[] | undefined;
} & (TagGeneric extends 'a' ? AnchorProps : ButtonProps);

const {
  href,
  tag: Tag = href ? 'a' : 'button',
  type,
  class: classList,
  duration = '.3s',
  colors = '#2e7711, tomato, #fff',
  ...rest
} = Astro.props;

const attributesBasedOnTag = Tag === 'a' ? { href } : { type };
const { ...attrs } = { ...attributesBasedOnTag, ...rest };

const [hoverBgColor1, hoverBgColor2, hoverColor1, hoverColor2] =
  colors.split(',');

const style = `--duration: ${duration};--hoverBgColor1: ${hoverBgColor1};--hoverBgColor2: ${hoverBgColor2};--hoverColor1: ${hoverColor1};--hoverColor2: ${hoverColor2 || hoverColor1};`;
---

<Tag class={classList} {...attrs} style={style}
  ><slot />
  <div class="before"><slot /></div>
  <div class="after"><slot /></div>
</Tag>

<style>
  a,
  button {
    position: relative;
    perspective: 400px;
    cursor: pointer;
    background: transparent;
    padding: 0.5em 0.7em;
    overflow-y: clip;
    &,
    .before,
    .after {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.1em 0.4em;
      line-height: 1;
    }
    .before,
    .after {
      position: absolute;
      transform: rotateX(90deg);
      transform-origin: top;
      transition: var(--duration);
      inset: 0;
    }

    .before {
      transition-delay: var(--duration);
      background-color: var(--hoverBgColor1);
      color: var(--hoverColor1);
    }
    .after {
      transition-delay: 0s;
      background-color: var(--hoverBgColor2);
      color: var(--hoverColor2);
    }

    &:hover {
      .before,
      .after {
        transform: rotateX(0);
      }
      .before {
        transition-delay: 0s;
      }
      .after {
        transition-delay: var(--duration);
      }
    }
  }
</style>
