---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
- colors as string 'hoverBgColor, hoverColor' 
*/

type Tag = 'a' | 'button';
type AnchorProps = {
  href: string;
};
type ButtonProps = {
  type?: 'submit' | 'reset' | 'button';
};

// prettier-ignore
type Props<TagGeneric extends Tag> = {
  tag?: TagGeneric;
  class?: string;
  duration?: string;
  colors?: string;
  [key: string]: string | string[] | undefined;
} & (TagGeneric extends 'a' ? AnchorProps : ButtonProps);

const {
  href,
  tag: Tag = href ? 'a' : 'button',
  type,
  class: classList,
  duration = '.2s',
  colors = '#f6b93b,  #363636',
  ...rest
} = Astro.props;

const attributesBasedOnTag = Tag === 'a' ? { href } : { type };
const { ...attrs } = { ...attributesBasedOnTag, ...rest };

const [hoverBgColor, hoverColor] = colors.split(',');

const style = `--duration: ${duration}; --hoverBgColor: ${hoverBgColor}; --hoverColor: ${hoverColor};--delay: calc(var(--duration)/2)`;
---

<Tag class={classList} {...attrs} style={style}>
  <span>
    <slot />
  </span>
</Tag>

<style>
  a,
  button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: var(--duration);
    cursor: pointer;
    overflow: hidden;

    &::before,
    &::after,
    span::before,
    span::after {
      position: absolute;
      z-index: -1;
      transition-duration: var(--duration);
      background-color: var(--hoverBgColor);
      width: 25%;
      height: 100%;
      content: '';
    }
    &::before,
    span::before {
      top: 100%;
    }
    &::after,
    span::after {
      top: -100%;
    }
    &::before {
      left: 0%;
    }
    &::after {
      left: 25%;
      transition-delay: var(--delay);
    }
    span::before {
      left: 50%;
      transition-delay: calc(var(--delay) * 2);
    }
    span::after {
      left: 75%;
      transition-delay: calc(var(--delay) * 3);
    }

    &:hover {
      color: var(--hoverColor);
      &::before,
      &::after,
      span::before,
      span::after {
        top: 0%;
      }
    }
  }
</style>
