---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
- colors as string 'bgColor, color' 
*/

type Tag = 'a' | 'button';
type AnchorProps = {
  href: string;
};
type ButtonProps = {
  type?: 'submit' | 'reset' | 'button';
};

// prettier-ignore
type Props<TagGeneric extends Tag> = {
  tag?: TagGeneric;
  class?: string;
  duration?: string;
  colors?: string;
  [key: string]: string | string[] | undefined;
} & (TagGeneric extends 'a' ? AnchorProps : ButtonProps);

const {
  href,
  tag: Tag = href ? 'a' : 'button',
  type,
  class: classList,
  duration = '.5s',
  colors = '#363636, #ff0',
  ...rest
} = Astro.props;

const attributesBasedOnTag = Tag === 'a' ? { href } : { type };
const { ...attrs } = { ...attributesBasedOnTag, ...rest };

const [bgColor, color] = colors.split(',');

const style = `--duration: ${duration};--bgColor: ${bgColor};--color: ${color};`;
---

<Tag class={classList} {...attrs} style={style}
  ><slot />
  <div class="before"><slot /></div>
  <div class="after"><slot /></div>
</Tag>

<style>
  a,
  button {
    position: relative;
    cursor: pointer;
    border: 0.056em solid #ff0;
    background: transparent;
    padding: 0.5em 0.7em;
    overflow: clip;
    color: transparent !important;
    line-height: 1;
    .before,
    .after {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      transition: var(--duration);
      cursor: pointer;
      inset: 0;
      background: var(--bgColor);
      color: var(--color);
    }

    .before {
      left: -100%;
      transform: scale(0) rotateY(0deg);
      opacity: 0;
      pointer-events: none;
    }
    .after {
      left: 0;
    }

    &:hover {
      .before {
        left: 0;
        transform: scale(1) rotateY(360deg);
        opacity: 1;
      }
      .after {
        left: 100%;
        transform: scale(0) rotateY(360deg);
        opacity: 0;
      }
    }
  }
</style>
