---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
- colors as string 'hoverBgColor, hoverColor' 
*/

type Tag = 'a' | 'button';
type AnchorProps = {
  href: string;
};
type ButtonProps = {
  type?: 'submit' | 'reset' | 'button';
};

// prettier-ignore
type Props<TagGeneric extends Tag> = {
  tag?: TagGeneric;
  class?: string;
  duration?: string;
  colors?: string;
  [key: string]: string | string[] | undefined;
} & (TagGeneric extends 'a' ? AnchorProps : ButtonProps);

const {
  href,
  tag: Tag = href ? 'a' : 'button',
  type,
  class: classList,
  duration = '.5s',
  colors = '#262626, #fff',
  ...rest
} = Astro.props;

const attributesBasedOnTag = Tag === 'a' ? { href } : { type };
const { ...attrs } = { ...attributesBasedOnTag, ...rest };

const [hoverBgColor, hoverColor] = colors.split(',');

const style = `--duration: ${duration}; --hoverBgColor: ${hoverBgColor}; --hoverColor: ${hoverColor};`;
---

<Tag class={classList} {...attrs} style={style}>
  <slot />
  <div id="after"><slot /></div>
</Tag>

<style>
  a,
  button {
    position: relative;
    cursor: pointer;
    border: 0.056em solid #000;
    background: transparent;
    padding: 0.5em 0.7em;
    overflow: clip;
    &,
    #after {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.1em 0.4em;
      line-height: 1;
    }
    #after {
      position: absolute;
      transform: scale(5);
      opacity: 0;
      transition: var(--duration);
      inset: 0;
      background-color: var(--hoverBgColor);
      color: var(--hoverColor);
    }

    &:hover {
      #after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
</style>
