---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
- colors as string 'color1, color2' 
*/

type Tag = 'a' | 'button';
type AnchorProps = {
  href: string;
};
type ButtonProps = {
  type?: 'submit' | 'reset' | 'button';
};

// prettier-ignore
type Props<TagGeneric extends Tag> = {
  tag?: TagGeneric;
  class?: string;
  duration?: string;
  colors?: string;
  [key: string]: string | string[] | undefined;
} & (TagGeneric extends 'a' ? AnchorProps : ButtonProps);

const {
  href,
  tag: Tag = href ? 'a' : 'button',
  type,
  class: classList,
  duration = '.4s',
  colors = '#fdc518, #f00',
  ...rest
} = Astro.props;

const attributesBasedOnTag = Tag === 'a' ? { href } : { type };
const { ...attrs } = { ...attributesBasedOnTag, ...rest };

const [color1, color2] = colors.split(',');

const style = `--duration: ${duration}; --color1: ${color1}; --color2: ${color2};`;
---

<Tag class={classList} {...attrs} style={style}>
  <slot />
  <div class="text text1"><slot /></div>
  <div class="text text2"><slot /></div>
</Tag>

<style>
  a,
  button {
    position: relative;
    background: #363636;
    color: transparent;

    &,
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.1em 0.4em;
      cursor: pointer;
      inset: 1;
      padding: 0.5em 0.7em;
      line-height: 1;
    }
    .text {
      position: absolute;
      transition: var(--duration) var(--duration);
      width: 100%;
      height: 100%;
      &.text1 {
        clip-path: polygon(0 0, 100% 0, 0 100%);
        color: var(--color1);
      }
      &.text2 {
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
        color: var(--color2);
      }
    }

    &::before,
    &::after {
      position: absolute;
      transition-duration: var(--duration);
      width: var(--width);
      height: var(--height);
      content: '';
    }

    &::before {
      --width: 90%;
      --height: 140%;
      top: calc(100 - var(--width) / -2);
      left: calc(100 - var(--width) / 2);
      border-right: 2px solid var(--color2);
      border-left: 2px solid var(--color1);
    }
    &::after {
      --width: 110%;
      --height: 80%;
      top: calc(100 - var(--width) / 2);
      left: calc(100 - var(--width) / -2);
      transition-delay: var(--duration);
      border-top: 2px solid var(--color1);
      border-bottom: 2px solid var(--color2);
    }

    &:hover {
      &::before {
        transform: rotateY(180deg);
      }
      &::after {
        transform: rotateX(180deg);
      }
      .text1 {
        color: var(--color2);
      }
      .text2 {
        color: var(--color1);
      }
    }
  }
</style>
