---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
- colors as string 'color1, color2' 
*/

type Tag = 'a' | 'button';
type AnchorProps = {
  href: string;
};
type ButtonProps = {
  type?: 'submit' | 'reset' | 'button';
};

// prettier-ignore
type Props<TagGeneric extends Tag> = {
  tag?: TagGeneric;
  class?: string;
  duration?: string;
  colors?: string;
  [key: string]: string | string[] | undefined;
} & (TagGeneric extends 'a' ? AnchorProps : ButtonProps);

const {
  href,
  tag: Tag = href ? 'a' : 'button',
  type,
  class: classList,
  duration = '.4s',
  colors = '#fdc518, #f00',
  ...rest
} = Astro.props;

const attributesBasedOnTag = Tag === 'a' ? { href } : { type };
const { ...attrs } = { ...attributesBasedOnTag, ...rest };

const [color1, color2] = colors.split(',');

const style = `--duration: ${duration}; --color1: ${color1}; --color2: ${color2};`;
---

<Tag class={classList} {...attrs} style={style}
  ><slot /><span><slot /></span><span><slot /></span></Tag
>

<style>
  a,
  button {
    --stroke-color: #262626;
    --primary-color: #fafafa;
    --secondary-color: red;
    --tertiary-color: #13efff;
    --duration: 0.5s;
    --offset1: 5px;
    --offset2: 10px;
    position: relative;
    cursor: pointer;
    -webkit-text-stroke: 1px var(--stroke-color);
    color: transparent !important;
    text-decoration: none;
    &,
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.1em 0.4em;
      transition: var(--duration);
      padding: 0.5em 0.7em;
      padding: inherit;
      width: max-content;
      font-weight: 900;
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      font: inherit;
    }

    &:hover {
      color: var(--primary-color);

      span:nth-of-type(1) {
        transform: translate(var(--offset1), calc(var(--offset1) * -1));
        color: var(--secondary-color);
      }
      span:nth-of-type(2) {
        transform: translate(var(--offset2), calc(var(--offset2) * -1));
        color: var(--tertiary-color);
      }
    }
  }
</style>
