---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
- colors as string 'hoverBgColor1, hoverBgColor2, hoverColor or hoverColor1, hoverColor2' 
*/
import type { Polymorphic } from 'astro/types';

type Tag = 'a' | 'button';

// prettier-ignore
type Props<TagGeneric extends Tag> = {
  class?: string;
  duration?: string;
  colors?: string;
} & Polymorphic<{ as: TagGeneric }>;

const {
  class: classList,
  duration = '.3s',
  colors = '#2e7711, tomato, #fff',
  ...attrs
} = Astro.props;

const Tag = attrs.href ? 'a' : 'button';

const [hoverBgColor1, hoverBgColor2, hoverColor1, hoverColor2] =
  colors.split(',');
---

<Tag
  class={classList}
  {...attrs}
  style={`--duration: ${duration};--hoverBgColor1: ${hoverBgColor1};--hoverColor1: ${hoverColor1};--hoverBgColor2: ${hoverBgColor2};--hoverColor2: ${hoverColor2 || hoverColor1};`}
  ><slot />
  <div class="before"><slot /></div>
  <div class="after"><slot /></div>
</Tag>

<style>
  a,
  button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    cursor: pointer;
    overflow: hidden;
    .before,
    .after {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      transform: rotateX(180deg);
      transform-origin: top;
      transition: var(--duration);
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .before {
      background-color: var(--hoverBgColor1);
      color: var(--hoverColor1);
    }
    .after {
      transition-delay: var(--duration);
      background-color: var(--hoverBgColor2);
      color: var(--hoverColor2);
    }

    &:hover {
      .before,
      .after {
        transform: rotateX(0);
      }
    }
  }
</style>
