---
import BaseLayout from '@/layouts/BaseLayout.astro';
// prettier-ignore
import { Card01, Card02, Card03, Card04, Card05, Card06, Card07, Card08, Card09} from '@/components';
import { Image } from 'astro:assets';

import card02 from '@/images/cards/card02.jpg';
import card03 from '@/images/cards/card03.png';
import card05 from '@/images/cards/card05.png';
import card06 from '@/images/cards/card06.jpg';
import card07 from '@/images/cards/card07.jpg';
import card08 from '@/images/cards/headphone1.png';
import card09 from '@/images/cards/shoes.png';
---

<BaseLayout title="Cards">
  <h2>Hover over the card item</h2>
  <div class="grid">
    <Card01 class="card card01">
      <h3>Card01</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tempore
        quaerat sed corrupti explicabo, beatae dignissimos eos perferendis culpa
        doloremque quis saepe possimus obcaecati dolore.
      </p>
      <a href="">Read More</a>
    </Card01>
    <Card02 class="card card02" image={card02} alt="angel">
      <h3>Card02</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, eos.
      </p>
    </Card02>
    <Card03 class="card card03" image={card03} alt="woman">
      <h3>Captain Marvel</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
        excepturi earum temporibus hic quidem, facere non delectus voluptates.
      </p>
      <a href="">Read More</a>
    </Card03>
    <Card04 class="card card04" text="88">
      <h3>Card04</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
        excepturi earum temporibus hic quidem, facere non delectus voluptates.
      </p>
      <a href="">Read More</a>
    </Card04>
    <Card05>
      <figure>
        <Image src={card05} alt="card05" priority width={300} height={300} />
        <figcaption>Design</figcaption>
      </figure>
      <div class="content">
        <h3>Card05</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          excepturi earum temporibus hic quidem, facere non delectus voluptates.
        </p>
        <a href="">Read More</a>
      </div>
    </Card05>
    <Card06>
      <figure>
        <Image src={card06} alt="card06" priority width={300} height={300} />
      </figure>
      <div class="details">
        <h3>John Doe <br /><span>Founder</span></h3>
      </div>
    </Card06>
    <Card07>
      <figure>
        <Image src={card07} alt="card07" priority width={300} height={300} />
      </figure>
      <div class="content">
        <h3>Card07</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          excepturi earum temporibus hic quidem, facere non delectus voluptates.
        </p>
        <a href="">Read More</a>
      </div>
    </Card07>
    <Card08>
      <figure>
        <Image src={card08} alt="card08" priority width={300} height={300} />
      </figure>
      <div class="details">
        <h3>Card08</h3>
        <p>$60.<small>99</small></p>
        <a href="">Buy Now</a>
      </div>
    </Card08>
    <Card09>
      <figure>
        <Image src={card09} alt="card09" priority width={300} height={300} />
      </figure>
      <div class="content">
        <h3>Card09</h3>
        <div class="size">
          <h4>Size:</h4>
          <span>7</span><span>8</span><span>9</span><span>10</span>
        </div>
        <div class="color">
          <h4>Color:</h4>
          <span></span><span></span><span></span>
        </div>
        <a href="">Buy Now</a>
      </div>
    </Card09>
  </div>
</BaseLayout>

<style>
  body {
    background-color: #fafafa;
    color: black;
    h2 {
      margin-bottom: 3rem;
      text-align: center;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 16rem));
    justify-content: center;
    gap: 80px 40px;
    margin-bottom: 20rem;
    padding: 10px;
  }
  .card {
    h3 {
      align-self: start;
    }
    a {
      align-self: start;
    }
  }
  .card01 {
    border-radius: 10px;
  }
</style>

<script>
  const links = document.querySelectorAll(
    '.card a'
  )! as NodeListOf<HTMLAnchorElement>;

  links.forEach((link) => {
    link.addEventListener('click', (e) => {
      e.preventDefault();
      if (import.meta.env.DEV)
        console.log(link.parentElement?.parentElement?.classList[1]);
    });
  });
</script>
