---
import BaseLayout from '@/layouts/BaseLayout.astro';
// prettier-ignore
import { Card01, Card02, Card03, Card04, Card05, Card06, Card07, Card08, Card09} from '@/components';

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/cards/*.{jpg,png}'
);
const [url02, url03, url05, url06, url07, url08, url09] = Object.keys(images);
---

<BaseLayout title="Cards">
  <h2>Hover over the card</h2>
  <div class="grid">
    <Card01 class="card card01">
      <h3>Card01</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tempore
        quaerat sed corrupti explicabo, beatae dignissimos eos perferendis culpa
        doloremque quis saepe possimus obcaecati dolore.
      </p>
      <a href="">Read More</a>
    </Card01>
    <Card02 class="card card02" url={url02} alt="angel">
      <h3>Card02</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, eos.
      </p>
    </Card02>
    <Card03 class="card card03" url={url03} alt="woman">
      <h3>Captain Marvel</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
        excepturi earum temporibus hic quidem, facere non delectus voluptates.
      </p>
      <a href="">Read More</a>
    </Card03>
    <Card04 class="card card04" text="88">
      <h3>Card04</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
        excepturi earum temporibus hic quidem, facere non delectus voluptates.
      </p>
      <a href="">Read More</a>
    </Card04>
    <Card05 class="card card05" url={url05} alt="design">
      <h3>Card05</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
        excepturi earum temporibus hic quidem, facere non delectus voluptates.
      </p>
      <a href="">Read More</a>
    </Card05>
    <Card06 class="card card06" url={url06} alt="John Doe" width={300}>
      <h3>John Doe <br /><span>Founder</span></h3>
    </Card06>
    <Card07 url={url07} alt="card07">
      <h3>Card07</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
        excepturi earum temporibus hic quidem, facere non delectus voluptates.
      </p>
      <a href="">Read More</a>
    </Card07>
    <Card08 url={url08} alt="card08">
      <h3>Card08</h3>
      <p>$60.<small>99</small></p>
      <a href="#">Buy Now</a>
    </Card08>
    <Card09 class="card card09" url={url09} alt="card09">
      <h3>Card09</h3>
      <div class="size">
        <h4>Size:</h4>
        <span>7</span><span>8</span><span>9</span><span>10</span>
      </div>
      <div class="color">
        <h4>Color:</h4>
        <span></span><span></span><span></span>
      </div>
      <a href="">Buy Now</a>
    </Card09>
  </div>
</BaseLayout>

<style>
  body {
    background-color: #fafafa;
    color: black;
    h2 {
      margin-bottom: 3rem;
      text-align: center;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17rem);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 80px 40px;
    padding: 0.5rem;
    overflow-x: clip;
    @media screen and (min-width: 40rem) {
    }
  }
  .card {
    h3 {
      align-self: start;
    }
    a {
      align-self: start;
    }
  }
  .card01 {
    border-radius: 10px;
  }
  .card02,
  .card03 {
    height: 15rem;
  }

  .card06 {
    height: 20rem;
    h3 {
      color: #777;
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      span {
        color: #f38695;
        font-weight: 500;
        font-size: 0.9rem;
      }
    }
  }
  .card09 {
    width: 17rem;
    height: 25rem;
  }
</style>

<script>
  const links = document.querySelectorAll(
    '.card a'
  )! as NodeListOf<HTMLAnchorElement>;

  links.forEach((link) => {
    link.addEventListener('click', (e) => {
      e.preventDefault();
      if (import.meta.env.DEV)
        console.log(link.parentElement?.parentElement?.classList[1]);
    });
  });
</script>
