---
import BaseLayout from '@/layouts/BaseLayout.astro';
// prettier-ignore
import { ImageAnimation01, ImageAnimation02, ImageAnimation03, ImageAnimation04, ImageAnimation05, ImageAnimation06, ImageAnimation07, ImageAnimation08, ImageAnimation09, ImageAnimation10, ImageAnimation11, ImageAnimation12 } from '@/components';
import { Image } from 'astro:assets';
import cat from '@/images/cat.jpg';
---

<BaseLayout title="Images">
  <h2>Hover over the image</h2>
  <div class="grid">
    <ImageAnimation01 image={cat} alt="cat" width={300}>
      <div class="content">
        <h3>Image Animation 01</h3>
        <p>You can write anything here</p>
      </div>
    </ImageAnimation01>
    <ImageAnimation02 image={cat} alt="cat" width={300}>
      <div class="content">
        <h3>Image Animation 02</h3>
        <p>You can write anything here</p>
      </div>
    </ImageAnimation02>
    <ImageAnimation03 image={cat} alt="cat" width={300}>
      <div class="content">
        <h3>Image Animation 03</h3>
        <p>You can write anything here</p>
      </div>
    </ImageAnimation03>
    <ImageAnimation04 image={cat} alt="cat" width={300}>
      <div class="content">
        <h3>Image Animation 04</h3>
        <p>You can write anything here</p>
      </div>
    </ImageAnimation04>
    <ImageAnimation05 image={cat} alt="cat" width={300}>
      <div class="content content05">
        <h3>Image Animation 05</h3>
        <p>You can write anything here</p>
      </div>
    </ImageAnimation05>
    <ImageAnimation06 image={cat} alt="cat" width={300}>
      <div class="content">
        <h3>Image Animation 06</h3>
        <p>You can write anything here</p>
      </div>
    </ImageAnimation06>
    <ImageAnimation07 image={cat} alt="cat" width={300}>
      <div class="content content07">
        <h3>Image Animation 07</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, illum!
        </p>
        <a href="">read more</a>
      </div>
    </ImageAnimation07>
    <ImageAnimation08 image={cat} alt="cat" width={300}>
      <div class="content content08">
        <h3>Image Animation 08</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.
        </p>
        <a href="">read more</a>
      </div>
    </ImageAnimation08>
    <ImageAnimation09 image={cat} alt="cat" width={300}>
      <div class="content content09">
        <h3>Image Animation 09</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.
        </p>
        <a href="">read more</a>
      </div>
    </ImageAnimation09>
    <ImageAnimation10 image={cat} alt="cat" width={300}>
      <div class="content content10">
        <h3>Image Animation 10</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.
        </p>
        <a href="">read more</a>
      </div>
    </ImageAnimation10>
    <ImageAnimation11 image={cat} alt="cat" width={300}>
      <div class="content content11">
        <h3>Image Animation 11</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.
        </p>
        <a href="">read more</a>
      </div></ImageAnimation11
    >
    <ImageAnimation12 image={cat} alt="cat" width={300}>
      <div class="content content12">
        <h3>Image Animation 12</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.
        </p>
        <a href="">read more</a>
      </div>
    </ImageAnimation12>
  </div>
</BaseLayout>

<style>
  h2 {
    margin-bottom: 3rem;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 15rem));
    /* align-items: start; */
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin-bottom: 5rem;
    padding: 10px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    height: 100%;
    text-align: center;
    & > *:not(a) {
      padding: 0.25rem 0.5rem;
    }
    p,
    a {
      align-self: center;
      font-size: 0.8rem;
    }
    a {
      border-radius: 5px;
      padding: 0.5rem;
    }

    &.content05 {
      p {
        background: #ae895d;
      }
    }
    &.content07,
    &.content08 {
      h3 {
        background: #2d343688;
      }
      a {
        background: #000;
      }
    }
    &.content09 {
      a {
        background: #000;
      }
    }
    &.content10,
    &.content11 {
      h3,
      a {
        background: #000;
      }
    }
    &.content12 {
      background: #000;
      color: #fff;
      a {
        transition: 0.2s;
        border: 1px solid transparent;
        background: #fff;
        color: #000;
        text-transform: capitalize;
        &:hover {
          border: 1px solid #fff;
          background: #000;
          color: #fff;
        }
      }
    }
  }
</style>
