---
import BaseLayout from '@/layouts/BaseLayout.astro';
// prettier-ignore
import { ImageAnimation01, ImageAnimation02, ImageAnimation03, ImageAnimation04, ImageAnimation05, ImageAnimation06, ImageAnimation07, ImageAnimation08, ImageAnimation09, ImageAnimation10, ImageAnimation11, ImageAnimation12 } from '@/components';
import { Image } from 'astro:assets';
import image01 from '@/images/image01.jpg';
---

<BaseLayout title="Images">
  <h2>Hover over the image</h2>
  <div class="grid">
    <ImageAnimation01 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation01</h3>
        <p>You can write anything here</p>
      </figcaption>
    </ImageAnimation01>
    <ImageAnimation02 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation02</h3>
        <p>You can write anything here</p>
      </figcaption></ImageAnimation02
    >
    <ImageAnimation03 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation03</h3>
        <p>You can write anything here</p>
      </figcaption></ImageAnimation03
    >
    <ImageAnimation04 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation04</h3>
        <p>You can write anything here</p>
      </figcaption></ImageAnimation04
    >
    <ImageAnimation05 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation05</h3>
        <p>You can write anything here</p>
      </figcaption></ImageAnimation05
    >
    <ImageAnimation06 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation06</h3>
      </figcaption></ImageAnimation06
    >
    <ImageAnimation07 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation07</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, illum!
        </p>
        <a href="">read more</a>
      </figcaption></ImageAnimation07
    >
    <ImageAnimation08 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation08</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.
        </p>
        <a href="">read more</a>
      </figcaption></ImageAnimation08
    >
    <ImageAnimation09 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation09</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.
        </p>
        <a href="">read more</a>
      </figcaption></ImageAnimation09
    >
    <ImageAnimation10 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation10</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.
        </p>
        <a href="">read more</a>
      </figcaption></ImageAnimation10
    >
    <ImageAnimation11 width={300} height={300}>
      <Image src={image01} alt="image01" loading="eager" />
      <figcaption slot="caption">
        <h3>ImageAnimation11</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.
        </p>
        <a href="">read more</a>
      </figcaption></ImageAnimation11
    >
    <ImageAnimation12 image={image01} width={300} height={300}>
      <figcaption slot="caption">
        <h3>ImageAnimation12</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.
        </p>
        <a href="">read more</a>
      </figcaption>
    </ImageAnimation12>
  </div>
</BaseLayout>

<style>
  h2 {
    margin-bottom: 3rem;
    text-align: center;
  }
  h3 {
    font-size: 1.6rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-bottom: 20rem;
    padding: 10px;
  }
</style>
