---
import type { ImageMetadata } from 'astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
// prettier-ignore
import { SampleContent, Js01, Js02, Js03, Js04, Js05, Js06, Js07, Js08, Js09, Js10, Js11, Js12, Js13, Js14, Js15, Js16, Js17, Js18, Js19, Js20, Js21 } from '@/components';
import bg07 from '@/images/with-js07/bg.jpg';
import paris from '@/images/paris.jpg';
import image14 from '/src/images/with-js14/bg.jpg';
import image16 from '/src/images/with-js16/img.jpg';
// js02
const images02 = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/with-js02/*.png'
);

// js13
const videos13 = import.meta.glob('/public/videos/*.mp4');

const images13 = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/with-js13/*.jpg'
);

const media13 = {
  videos: videos13,
  images: images13,
  alts: ['video1', 'video2', 'video3', 'video4'],
  width: 1000,
  format: 'webp',
};
const img1 = '/src/images/animation17/img-1.jpg';
const img2 = '/src/images/animation17/img-2.jpg';
const img3 = '/src/images/animation17/img-3.jpg';
const img4 = '/src/images/animation17/img-4.jpg';
---

<BaseLayout title="With Js">
  <div class="grid">
    <div class="element element01">
      <small class="absolute">Hover over text</small>
      <Js01 />
    </div>
    <Js02 class="clip clip02" images={images02}>
      <section id="header" slot="header">
        <h3>Logo</h3>
        <nav>
          <a href="">Home</a>
          <a href="">About</a>
          <a href="">Services</a>
        </nav>
      </section>
      <section slot="content" class="content">
        <SampleContent />
      </section>
      <h4 class="absolute">Scroll me</h4>
    </Js02>
    <!--<div class="element row2">
      <Js03 class="element03" />
    </div>
    <div class="element black">
      <Js04 class="element04" />
    </div>
    <div class="element white row2 no-flex">
      <Js05 class="element05" />
    </div>
    <div class="element row2 no-flex">
      <Js06 class="element06" />
    </div>
    <div class="element row2 no-flex">
      <Js07 class="element07" bg={bg07}>
        <section>
          <SampleContent />
        </section>
      </Js07>
    </div>
    <div class="element row2 no-flex">
      <Js08 class="element08">
        <h3>Javascript<br /><span>08</span></h3>
      </Js08>
    </div>
    <div class="element row2 no-flex">
      <Js09 class="element09" />
    </div>
    <div class="element row2 no-flex">
      <Js10 class="element10" />
    </div>
    <div class="element no-flex">
      <Js11 class="element11" />
    </div>
    <div class="element no-flex row2">
      <Js12 class="element12" bg={paris} position="center bottom">
        <div class="x2height">
          <h3>Javascript 12 <br /><span>scroll me</span></h3>
        </div>
      </Js12>
    </div>
    <div class="element no-flex row2">
      <Js13 class="element13" mediaData={media13} />
    </div>
    <div class="element no-flex row2">
      <Js14 class="element14" image={image14} width={1000} />
    </div>
    <div class="element no-flex row2">
      <Js15
        class="element15"
        image={paris}
        position="center bottom"
        width={1000}
        text="Scroll me"
        ;
      >
        <SampleContent class="sample" />
      </Js15>
    </div>

    <div class="element black">
      <Js16
        class="element16"
        user={{
          image: image16,
          details: { name: 'Alaa Gomaa', job: 'Web Developer' },
        }}
        alt="user"
        width={100}
        iconNames={[
          'ion:heart-outline',
          'ion:person-outline',
          'ion:trash-outline',
        ]}
      />
    </div>

    <div class="element row2 no-flex">
      <Js17
        class="element17"
        iconNames={[
          'ion:camera-outline',
          'ion:home-outline',
          'ion:happy-outline',
          'ion:locate-outline',
          'ion:battery-half-outline',
          'ion:alarm-outline',
          'ion:calculator-outline',
          'ion:bulb-outline',
          'ion:chatbubbles-outline',
        ]}
      />
    </div>

    <div class="element black row2 no-flex">
      <Js18 class="element18" />
    </div>
    <div class="element element19">
      <Js19> Javascript 19 </Js19>
    </div>
    <Js20
      class="element element20"
      images={[
        { imagePath: img1, alt: 'boat' },
        { imagePath: img2, alt: 'sunset' },
        { imagePath: img3, alt: 'mountain' },
        { imagePath: img4, alt: 'alpinist' },
      ]}
    />
    <Js21 class="element element21">
      <span>I love Css</span>
    </Js21>-->
  </div>
</BaseLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-content: center;
    place-items: center;
    gap: 2rem;
    margin: 3rem 0;
    padding: 0 10px;
    .element {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      small {
        color: #fff8;
        font-size: 0.8em;
      }

      .absolute {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
      }
      &.no-flex {
        display: block;
      }
      &.row2 {
        height: calc(var(--height) * 2);
      }
      &.row3 {
        height: calc(var(--height) * 3);
      }

      &.black {
        background-color: #222;
        color: #fafafa;
      }
      &.white {
        background-color: #fff;
        color: #000;
      }
      .x2height {
        height: 200%;
      }
      a {
        text-decoration: none;
      }

      &.element01 {
        background: #222;
        padding: 2rem 1rem 1rem;
      }

      .element03 {
        background-color: cyan;
      }
      .element03 {
        background-color: #252839;
      }
      .element04 {
        font-size: 2rem;
      }
      .element07 {
        section {
          margin: 4rem auto;
          box-shadow: 0 10px 30px #0003;
          background-color: #fff;
          padding: 1rem;
          width: 80%;
          h3 {
            margin-bottom: 1rem;
          }
        }
      }
      .element08 {
        --navy: #0d172e;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background-color: var(--navy);
        height: 100%;
        &::before {
          --size: calc(var(--min-width) * 2 * 0.3);
          --spread: calc(var(--min-width) * 2 * 0.01);
          position: absolute;
          box-shadow:
            0 0 0 var(--spread) var(--navy),
            0 0 0 calc(var(--spread) * 1.3) #fff;
          border: 20px solid #ff9100;
          border-radius: 50%;
          width: var(--size);
          height: var(--size);
          content: '';
        }
        h3 {
          position: absolute;
          transform: skewY(-7deg);
          z-index: 5;
          animation: floating08 5s ease-in-out infinite;
          color: #fff;
          font-weight: normal;
          font-size: calc(var(--min-width) * 2 * 0.08);
          line-height: 2em;
          text-align: center;
          text-shadow:
            1px 1px 0 #ccc,
            2px 2px 0 #ccc,
            3px 3px 0 #ccc,
            4px 4px 0 #0003;
          span {
            font-weight: 700;
            font-size: calc(var(--min-width) * 2 * 0.2);
            text-shadow:
              2px 2px 0 #ccc,
              3px 3px 0 #ccc,
              4px 4px 0 #ccc,
              5px 5px 0 #ccc,
              10px 10px 0 #0003;
          }
        }
      }
      .element10 {
        background: linear-gradient(45deg, #8460ed, #ff1252);
      }
      .element11 {
        background-color: #20415c;
      }
      .element12 {
        background-color: #fff;
        .x2height {
          padding: 1em;
          h3 {
            background-clip: text;
            -webkit-text-stroke: 1px #fff;
            color: transparent;
            font-size: 2em;
            span {
              color: #fff;
              font-weight: 100;
              font-size: 0.5em;
            }
          }
        }
      }
      .element15 {
        .sample {
          position: relative;
          padding: 400px 2rem 2rem;
        }
      }
      .element17 {
        background: #0f296d;
      }
      .element18 {
        color: #fff;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 2px;
      }
      &.element19 {
        font-size: 1.5rem;
      }
      &.element20 {
        border-radius: 5px;
        @media screen and (min-width: 40rem) {
          grid-column: span 2;
          width: 100%;
          height: 15rem;
        }
      }
      &.element21 {
        white-space: nowrap;
      }
    }
    .clip02 {
      background-color: #f9f9f9;
      color: #fff;
      font-weight: 700;
      font-size: 1.5rem;
      .absolute {
        top: 35%;
        color: #fff;
        font-weight: normal;
        font-size: 1.2rem;
      }

      #header {
        --color: #359381;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;
        z-index: 100;
        padding: 1.5em;
        font-size: 0.8rem;
        h3 {
          color: var(--color);
          font-size: 1.2rem;
        }

        nav {
          a {
            transition: 0.5s;
            border-radius: 20px;
            padding: 0.25em 0.4em;
            color: var(--color);
            font-weight: 500;
            text-decoration: none;
            &:hover {
              background-color: var(--color);
              color: #fff;
            }
          }
        }
      }
      .content {
        font-size: 1rem;
      }
    }

    @media screen and (min-width: 40rem) {
      .element {
        &.col2 {
          grid-column: span 2;
        }
      }
    }
  }
  @keyframes floating08 {
    0%,
    100% {
      transform: skewY(-7deg) translateY(-10px);
    }
    50% {
      transform: skewY(-7deg) translateY(10px);
    }
  }
</style>
