---
/*
INFORMATIONS:
set
- imagePath as string
set optionally:
- class as string
- duration as string 'value and s | ms'
- width and/or height as numbers
- format as string
- loading as 'lazy' | 'eager' | null
*/

interface Props {
  class?: string;
  duration?: string;
  width: string;
  height: string;
  cards: {
    title: string;
    description: string;
  }[];
  circleColor?: string;
}
const {
  class: classList,
  duration = '.5s',
  width,
  height,
  cards,
  circleColor = '#ffc312',
  ...attrs
} = Astro.props;

const style = `--duration: ${duration};--width: ${width};--height: ${height};--circleColor: ${circleColor};`;
---

<div class:list={['container', classList]} style={style} {...attrs}>
  <div class="cardStack">
    {
      cards.map((card, idx) => (
        <div class="card" style={`--i: ${idx - 1}`}>
          <div class="content" style={`--j: ${idx + 1}`}>
            <h3>{card.title}</h3>
            <p>{card.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
<div class="fallback">
  <p>⛔️ This component is available only in 640px or bigger screen.</p>
</div>

<style>
  .container {
    --circleSize: min(var(--width), var(--height));
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #833471;
    width: var(--width);
    height: var(--height);
    &,
    &::before {
      transition: var(--duration);
    }
    &::before {
      position: absolute;
      clip-path: circle(calc(var(--circleSize) / 2) at center);
      inset: 0;
      background-color: var(--circleColor);
      content: '';
    }
    .cardStack {
      position: relative;
      z-index: 10;
      border-radius: 50%;
      width: var(--circleSize);
      height: var(--circleSize);

      .card {
        --cardWidth: calc(((var(--width) - 8rem) / 3));
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%)
          translateY(calc(-50% + var(--height) / 8 * var(--i))) rotate(40deg)
          skew(-20deg, -10deg) scale(0.6);
        z-index: calc(var(--i) * -1);
        transition: var(--duration);
        box-shadow: 25px 20px 100px #00000033;
        border-radius: 10px;
        background-color: white;
        width: var(--cardWidth);
        height: calc(var(height) * 0.75);
        &:nth-of-type(2) {
          opacity: 0.8;
        }
        &:nth-of-type(3) {
          opacity: 0.6;
        }
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          opacity: 0;
          transition: var(--duration);
          padding: 1em;
        }
      }
      &:hover {
        .card {
          transform: translateX(
              calc(-50% + calc((var(--cardWidth) + 2rem) * var(--i)))
            )
            translateY(-50%);
          opacity: 1;
          z-index: 1;
          .content {
            opacity: 1;
            transition-delay: calc(0.2s * var(--j));
          }
        }
      }
    }
  }
  .fallback {
    margin: 0 auto;
    border: 2px solid #333;
    border-radius: 5px;
    width: 15rem;
    p {
      padding: 1rem 2rem;
      /* text-align: center; */
    }
  }
  @media screen and (min-width: 40rem) {
    .container {
      display: flex;
    }
    .fallback {
      display: none;
    }
  }
</style>
