---
/*INFORMATIONS:
set optionally
- class as string
- duration as string
- textx as Array of strings as ['<text1>', '<text2>']
- colors as string ('<color1>, <color2>')
*/

import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  class?: string;
  duration?: string;
  texts?: string[];
  colors?: string;
}

const {
  class: classList,
  duration = '3s',
  texts = ['Bye Bye', 'Happy New Year'],
  colors = '#4cb979, #fff',
  ...attrs
} = Astro.props;
const [text1, text2] = texts;
const [color1, color2] = colors.split(',');
const style = `--duration: ${duration};--color1: ${color1};--color2: ${color2};`;
const id = Math.random().toString(36).slice(2, 11);
---

<div id={id} class:list={['container11', classList]} style={style} {...attrs}>
  <div class="box box1">
    <h3><span>{text1}</span> <span class="year now"></span></h3>
  </div>
  <div class="box box2">
    <h3><span>{text2}</span> <span class="year next"></span></h3>
  </div>
</div>

<style>
  .container11 {
    position: relative;
    z-index: 0;
    background: var(--color2);
    width: 15em;
    height: 10em;
    .box {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      inset: 0;
      span.year {
        font-size: 2em;
        line-height: 1;
      }
      h3 {
        display: flex;
        flex-direction: column;
        transform: translateY(-70%);
        animation: clip11 var(--duration) infinite ease-in-out;
        color: var(--color1);
        text-align: center;
      }
      &.box2 {
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
        background: var(--color1);
        h3 {
          color: var(--color2);
        }
      }
    }
  }
  @keyframes clip11 {
    0%,
    45% {
      transform: translateY(-70%);
    }
    55%,
    90% {
      transform: translateY(70%);
    }
    100% {
      transform: translateY(-70%);
    }
  }
</style>

<script define:vars={{ id }}>
  const container11 = document.getElementById(id);
  const yearSpan = container11.querySelector('.now');
  const nextYearSpan = container11.querySelector('.next');

  const year = new Date().getFullYear();

  yearSpan.textContent = year.toString();
  nextYearSpan.textContent = (year + 1).toString();
</script>
