---
/*INFORMATIONS:
set optionally
- class as string
- duration as string
- text as string
- colors as string ('<color1>, <color2>')
*/

interface Props {
  class?: string;
  duration?: string;
  text?: string;
  colors?: string;
}
// prettier-ignore
const { class: classList, duration = '2s', text = 'Clip 02', colors = '#ee5253, #0a3d62', ...attrs } = Astro.props;
const [color1, color2] = colors.split(',');
const style = `--duration: ${duration};--color1: ${color1};--color2: ${color2};`;
---

<div class:list={['loader02', classList]} style={style} {...attrs}>
  <span class="placeholder">{text}</span>
  <span class="top-half">{text}</span>
  <span class="bottom-half">{text}</span>
</div>

<style>
  .loader02 {
    position: relative;
    box-sizing: content-box;
    border: 0.15em solid var(--color2);
    border-radius: 0.2em;
    width: fit-content;
    overflow: clip;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    span {
      display: inline-block;
      padding: 0.5em 1em;
      white-space: nowrap;
    }
    span.placeholder {
      visibility: hidden;
    }
    span:not(.placeholder) {
      position: absolute;
      inset: 0;
      font-weight: 600;

      &.top-half {
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
        animation: splitting02 var(--duration) linear infinite;
        color: var(--color1);
      }
      &.bottom-half {
        clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
        animation: splitting02 var(--duration) linear infinite reverse;
        color: var(--color2);
      }
    }
  }
  @keyframes splitting02 {
    0% {
      transform: translateX(100%);
    }
    40%,
    60% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
</style>
