---
/*INFORMATIONS:
set
- imagePath as string (path of the image)
- alt as string
set optionally
- class as string
- duration as string
- width and/or height as numbers (default width: 800)
- format as string
- loading as 'lazy' or 'eager' or null
*/

import { Image } from 'astro:assets';

interface Props {
  imagePath: string;
  alt: string;
  class?: string;
  duration?: string;
  width?: number;
  height?: number;
  format?: string;
  loading?: 'lazy' | 'eager' | null;
}
const {
  imagePath,
  alt,
  class: classList,
  duration = '.5s',
  width = 800,
  height,
  format = 'webp',
  loading = 'lazy',
  ...attrs
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
if (!images[imagePath]) throw new Error(`${imagePath} does not exist`);

const style = `--duration: ${duration};`;
---

<div class:list={['container07', classList]} style={style} {...attrs}>
  <div class="image">
    <Image
      src={images[imagePath]()}
      alt={alt}
      width={width}
      height={height}
      format={format}
      loading={loading}
    />
  </div>
  <slot name="hoverMe" />
  <div class="content">
    <slot />
  </div>
</div>

<style>
  .container07 {
    position: relative;
    background: #fff;
    width: 15rem;
    font-size: 1rem;
    text-align: center;

    .image {
      position: relative;
      clip-path: circle(71% at 50%);
      transition: var(--duration);
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .content {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      transition: var(--duration);
      padding: 1em;
      width: 100%;
      & > * {
        transform: translateY(1em);
        opacity: 0;
        transition: calc(var(--duration) / 1.5);
      }
    }

    &:hover {
      .image {
        clip-path: circle(3em at 50% 38%);
      }
      .content {
        & > * {
          transform: translateY(0);
          opacity: 1;
          transition-delay: var(--duration);
        }
      }
    }
  }
</style>
