---
/*INFORMATIONS:
set optionally
- class as string
- duration as string
- text as string
- colors as string ('<color1>, <color2>')
*/

import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  class?: string;
  duration?: string;
  text?: string;
  colors?: string;
}
const {
  class: classList,
  duration = '.5s',
  text = 'Clip 10',
  colors = '#fff, #4834d4',
  ...attrs
} = Astro.props;
const [color1, color2] = colors.split(',');
const style = `--duration: ${duration};--color1: ${color1};--color2: ${color2};`;
---

<a class={classList} style={style} {...attrs}>
  <span class="placeholder">{text}</span>
  <span class="text">{text}</span>
  <span class="text">{text}</span>
</a>

<style>
  a {
    display: inline-block;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 3rem;
    span {
      padding: 0.5em 1em;
      line-height: 1;
    }
    .placeholder {
      visibility: hidden;
    }
    .text {
      position: absolute;
      inset: 0;
      background-color: var(--color2);
      color: var(--color1);
      &:nth-of-type(2):hover ~ span {
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 50%);
      }
      &:nth-of-type(3) {
        clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 40% 50%);
        transition: var(--duration);
        background-color: var(--color1);
        color: var(--color2);
        &:hover {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0 50%);
        }
      }
    }
  }
</style>
