---
/*INFORMATIONS:
set
- imagesData as Array of objects as { imagepath, alt, position}
set optionally
- class as string
- duration as string
- width and/or height as numbers (default width: 800)
- format as string (default: 'webp')
- loading as 'lazy' | 'eager' | null (default: 'lazy')
*/

//- visit https://bennettfeely.com/clippy/ to get more shapes or generate your own

import { Image, getImage } from 'astro:assets';

type ImageData = {
  imagePath: string;
  alt: string;
  position?: string;
};

interface Props {
  class?: string;
  duration?: string;
  imagesData: ImageData[];
  width?: number;
  height?: number;
  format?: string;
  loading?: 'lazy' | 'eager' | null;
}
// prettier-ignore
const { class: classList, duration = '.5s', imagesData, width = 800, height, format = 'webp', loading = 'lazy', ...attrs } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
imagesData.forEach((imageData) => {
  if (!images[imageData.imagePath])
    throw new Error(`${imageData.imagePath} does not exist`);
});

// prettier-ignore
async function optImage(image: ImageData) {
  return await getImage({ src: images[image.imagePath](), width, height, format, loading,
  });
}
const optImages = await Promise.all(imagesData.map(optImage));

const style = `--duration: ${duration}`;
---

<div class:list={['container04', classList]} style={style} {...attrs}>
  <Image
    class="placeholder"
    src={images[imagesData[0].imagePath]()}
    alt=""
    width={10}
    format={format}
    loading="lazy"
  />

  {
    imagesData.map((imageData, idx) => {
      const clips = [
        '0 0, 100% 0, 120% 100%, 0 100%',
        '0 0, 100% 0, 80% 100%, 20% 100%',
        '0 0, 100% 0, 100% 100%, -20% 100%',
      ];
      const left = idx === 0 ? '0%' : idx === 1 ? '20%' : '68%';
      const width = idx === 1 ? '60%' : '32%';
      const zIndex = idx === 1 ? 1 : 0;
      return (
        <div
          class="image"
          style={`--url: url(${optImages[idx].src});--position: ${imageData.position};clip-path: polygon(${clips[idx]});left: ${left};width: ${width};z-index: ${zIndex}`}
        />
      );
    })
  }
  <div class="content"><slot /></div>
</div>

<style>
  .container04 {
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
    .placeholder {
      visibility: hidden;
      z-index: -1;
      width: 100%;
      height: auto;
    }
    div {
      position: absolute;
      &.image {
        cursor: pointer;
        inset: 0;
        background: var(--url) var(--position) / cover no-repeat;
        &:hover {
          animation: fulling04 var(--duration) ease-in-out forwards;
        }
      }
      &.content {
        top: 10%;
        left: 0;
        z-index: 1;
        width: 100%;
        pointer-events: none;
        font-size: 3svw;
      }
    }
  }
  @keyframes fulling04 {
    0% {
      z-index: 2;
    }
    100% {
      left: 0;
      z-index: 2;
      clip-path: none;
      background-position: center;
      width: 100%;
    }
  }
</style>
