---
/*INFORMATIONS:
set optionally
- class as string
- duration as string
- text as string
*/

interface Props {
  class?: string;
  duration?: string;
  text?: string;
}
const {
  class: classList,
  duration = '1s',
  text = 'JAVASCRIPT 04',
  ...attrs
} = Astro.props;

let letters = text.split('');
const length = letters.length;
const hueDeg = Math.ceil(360 / (length + 1));

function randomNum(time: string | number) {
  return `calc(${parseFloat(Math.random().toFixed(2))} * ${time})`;
}
---

<h3 class={classList} {...attrs}>
  {
    letters.map((letter, idx) => {
      if (letter === ' ') return letter;
      return (
        <span
          style={`--duration: ${duration};--letterDuration: ${randomNum('var(--duration)')};--delay: ${randomNum(length * 100)}ms;--hue-rotate: hue-rotate(${hueDeg * idx}deg);`}
        >
          {letter}
        </span>
      );
    })
  }
</h3>

<style>
  h3 {
    position: relative;
    background: #222;
    width: fit-content;
    font-size: 1.6rem;

    span {
      display: inline-block;
      position: relative;
      filter: var(--hue-rotate);
      animation: changeColor04 var(--letterDuration) linear infinite;
      animation-delay: var(--delay);
    }
  }
  @keyframes changeColor04 {
    0%,
    20% {
      color: #fff2;
    }
    21%,
    79% {
      color: #0f0;
    }
    80%,
    100% {
      color: #fff2;
    }
  }
</style>
