---
/*INFORMATIONS:
set optionally
- class as string
- text as string
- colors as string as ('<circle1Color>, <circle2Color>')
*/

interface Props {
  class?: string;
  text?: string;
  colors?: string;
}
const {
  class: classList,
  text = 'JAVASCRIPT 05',
  colors = '#22e7c0, #ffb62e',
  ...attrs
} = Astro.props;

const [circle1Color, circle2Color] = colors.split(',');
const id = Math.random().toString(32).slice(2, 11);
const style = `--circle1Color: ${circle1Color};--circle2Color: ${circle2Color};`;
---

<div id={id} class:list={['container05', classList]} style={style} {...attrs}>
  <div class="content">
    <section>
      <h3>{text}<br /><slot /></h3>
      <div class="circle circle1">
        <h3>{text}<br /><slot /></h3>
      </div>
      <div class="circle circle2">
        <h3>{text}<br /><slot /></h3>
      </div>
    </section>
  </div>
</div>

<style>
  .container05 {
    position: relative;
    aspect-ratio: 1.75;
    width: 20rem;
    max-width: 100%;
    height: auto;
    overflow-y: scroll;
    .content {
      min-height: 300%;

      section {
        position: absolute;
        inset: 0;
        background-color: #333;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        h3 {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          font-size: 1.5em;
        }
        .circle1,
        .circle2 {
          position: absolute;
          inset: 0;
          h3 {
            -webkit-text-stroke: 2px #333;
            color: transparent;
            span {
              -webkit-text-stroke: 1px #333;
              color: inherit;
            }
          }
        }
        .circle1 {
          clip-path: circle(20% at 0 0);
          background-color: var(--circle1Color);
        }
        .circle2 {
          clip-path: circle(20% at 100% 100%);
          background-color: var(--circle2Color);
        }
      }
    }
  }
</style>

<script define:vars={{ id }}>
  const container05 = document.getElementById(id);
  const section = container05.querySelector('section');
  const circles = section.querySelectorAll('.circle');

  section.style.height = `${container05.clientHeight}px`;

  container05.addEventListener('scroll', () => {
    // simulate fixed section
    const scroll = container05.scrollTop;
    section.style.top = `${scroll}px`;

    // increase circle size
    const circle1 = circles[0];
    const circle2 = circles[1];
    circle1.style.clipPath = `circle(${scroll * 0.15 + 20}% at 0 0)`;
    circle2.style.clipPath = `circle(${scroll * 0.15 + 20}% at 100% 100%)`;
  });
</script>
