---
/*INFORMATIONS:
set optionally
- class as string
*/

import { Image, getImage } from 'astro:assets';

const bg = '/src/images/with-js09/bg.png';
import policeCar from '@/images/with-js09/police_car.gif';

interface Props {
  class?: string;
}
const { class: classList, ...attrs } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/with-js09/*.{png,gif}'
);

const optBg = await getImage({
  src: images[bg](),
  width: 800,
  format: 'webp',
  loading: 'lazy',
});

const id = Math.random().toString(32).slice(2, 11);
---

<section id={id} class:list={['container09', classList]} {...attrs}>
  <div class="scene">
    <slot />
    <div class="sun"></div>
    <div class="bg" style={`--url: url(${optBg.src})`}>
      <Image
        class="car car1"
        src={policeCar}
        alt="police car"
        width={100}
        format="webp"
        loading="lazy"
      />
      <Image
        class="car car2"
        src={policeCar}
        alt="police car"
        width={100}
        format="webp"
        loading="lazy"
      />
    </div>
  </div>
</section>

<style>
  .container09 {
    aspect-ratio: 2.1;
    width: 20rem;
    height: auto;
    .scene {
      --night-color: #222833;
      position: relative;
      background: linear-gradient(#a6d8ff, #fff, #fff);
      height: 100%;
      overflow: clip;
      small {
        padding: 1em 0.5em;
        color: #0008;
        font-size: 0.8em;
      }
      &.night {
        background: var(--night-color);
        .sun {
          left: 45%;
          box-shadow: 0 0 0 #fff;
          &::before {
            position: absolute;
            top: -20%;
            left: 20%;
            box-shadow: none;
            border-radius: 50%;
            background: var(--night-color);
            width: 100%;
            height: 100%;
            pointer-events: none;
            content: '';
          }
        }
        small {
          color: #fff8;
        }
      }
      .sun {
        --sun-size: calc(var(--width) * 0.078);
        position: absolute;
        top: var(--sun-size);
        left: 55%;
        transform: translateX(-50%);
        transition: 0.2s;
        cursor: pointer;
        box-shadow: 0 0 calc(var(--sun-size) / 2) #fff;
        border-radius: 50%;
        background: #fff;
        width: var(--sun-size);
        height: var(--sun-size);
      }
      .bg {
        --car-width: calc(var(--width) * 0.156);
        position: absolute;
        bottom: 0;
        animation: animBg09 25s linear infinite;
        background: var(--url);
        background-size: 100%;
        background-repeat: repeat-x;
        width: 100%;
        height: 40%;
        .car {
          position: absolute;
          max-width: var(--car-width);
          height: auto;
          &.car1 {
            bottom: calc(var(--car-width) * 0.1);
            left: calc(var(--car-width) * -1);
            z-index: 1;
            animation: moveCar1 18s linear infinite;
          }
          &.car2 {
            right: calc(var(--car-width) * -1);
            bottom: calc(var(--car-width) * 0.25);
            animation: moveCar2 12s linear infinite;
          }
        }
      }
    }
  }
  @keyframes animBg09 {
    0% {
      background-position-x: var(--width);
    }
    100% {
      background-position-x: 0;
    }
  }
  @keyframes moveCar1 {
    0% {
      transform: translateX(0px);
    }
    90%,
    100% {
      transform: translateX(calc(var(--width) * 1.156));
    }
  }
  @keyframes moveCar2 {
    0% {
      transform: translateX(0px) rotateY(180deg);
    }
    90%,
    100% {
      transform: translateX(calc(var(--width) * -1.156)) rotateY(180deg);
    }
  }
</style>

<script define:vars={{ id }}>
  const container09 = document.getElementById(id);
  const scene = container09.querySelector('.scene');
  const sun = scene.querySelector('.sun');
  const sunMoon = scene.querySelector('.sunMoon');

  container09.style.cssText = `--width: ${container09.clientWidth}px;`;

  sun.addEventListener('click', () => {
    scene.classList.toggle('night');
    if (Array.from(scene.classList).includes('night')) {
      sunMoon.textContent = 'moon';
    } else {
      sunMoon.textContent = 'sun';
    }
  });
</script>
