---
/*INFORMATIONS:
set optionally
- class as string
- duration as string
- icons as array of strings (icon names)
- colors as string as (<toggleColor>, <toggleBgColor>, <iconColor>, <menuBgColor>, ')
*/

import { Icon } from 'astro-icon/components';

interface Props {
  class?: string;
  duration?: string;
  icons?: string[];
  colors?: string;
}
let {
  class: classList,
  duration = '1.5s',
  icons = [
    'ion:home-outline',
    'ion:person-outline',
    'ion:heart-outline',
    'mdi:bell-outline',
  ],
  colors = '#fff, #ff4886, #555, #fff',
  ...attrs
} = Astro.props;

icons.splice(Math.floor(icons.length / 2), 0, '');
const [toggleColor, toggleBgColor, iconColor, menuBgColor] = colors.split(',');

const style = `--duration: ${duration};--toggleColor: ${toggleColor};--toggleBgColor: ${toggleBgColor};--iconColor: ${iconColor};--menuBgColor: ${menuBgColor};`;
const id = Math.random().toString(32).slice(2, 11);
---

<div id={id} class:list={['container11', classList]} style={style} {...attrs}>
  <div class="navigation">
    <div class="toggle"></div>
    <ul class="menu">
      {
        icons.map((icon, idx) => {
          return (
            <li style={`--delay: ${(0.1 * (idx + 1) + 0.75).toFixed(2)}s `}>
              {icon && (
                <a href="">
                  <Icon name={icon} />
                </a>
              )}
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<style>
  .container11 {
    background: inherit;
    width: 15rem;

    &,
    .navigation,
    .toggle,
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu {
      list-style: none;
    }
    .navigation {
      position: relative;

      .toggle {
        position: relative;
        z-index: 10;
        transition: var(--duration);
        cursor: pointer;
        border: 0.4em solid;
        background-color: var(--toggleBgColor);
        width: 3.5em;
        height: 3.5em;
        color: var(--toggleColor);
        &::before {
          position: absolute;
          transition: var(--duration);
          content: '+';
          color: var(--toggleColor);
          font-size: 2em;
        }
      }

      .toggle,
      .menu {
        transform: translateY(-1.5em);
        border-radius: 4em;
      }
      .menu {
        position: absolute;
        gap: 2em;
        transition:
          transform calc(var(--duration) / 3),
          width calc(var(--duration) / 3);
        transition-delay: calc(var(--duration) / 3 * 2),
          calc(var(--duration) / 3);
        background-color: var(--menuBgColor);
        width: 3em;
        height: 3.2em;
        li {
          transform: translateY(-1.5em);
          opacity: 0;
          transition: 0.25s;
          transition-delay: 0s;
          cursor: pointer;
          &:hover {
            a {
              color: var(--toggleBgColor);
            }
          }
          a {
            color: var(--iconColor);
            font-size: 1.2em;
          }
        }
      }
      &.active {
        .toggle {
          &::before {
            transform: rotate(225deg);
          }
        }
        .menu {
          transform: translateY(0);
          transition-delay: 0s, calc(var(--duration) / 3);
          width: 15em;
          li {
            transform: translateY(0);
            opacity: 1;
            transition-delay: var(--delay);
          }
        }
      }
    }
  }
</style>

<script define:vars={{ id }}>
  const container11 = document.getElementById(id);
  const navigation = container11.querySelector('.navigation');
  const toggle = navigation.querySelector('.toggle');

  toggle.style.borderColor = getComputedStyle(container11).backgroundColor;

  toggle.addEventListener('click', () => {
    navigation.classList.toggle('active');
  });
</script>
