---
/*INFORMATIONS:
set optionally
- class as string
- duration as string
- imagePath as string
- width and/or height as numbers
- format as string (default: 'webp')
- loading as 'lazy' | 'eager' | null (default: 'lazy')
*/

import { getImage } from 'astro:assets';

interface Props {
  class?: string;
  imagePath?: string;
  position?: string;
  width?: number;
  height?: number;
  format?: string;
  loading?: 'lazy' | 'eager' | null;
}
let {
  class: classList,
  imagePath = '/src/images/paris.jpg',
  position = 'center bottom',
  width = 800,
  height,
  format = 'webp',
  loading = 'lazy',
  ...attrs
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,png,svg}'
);

const optBg = await getImage({
  src: images[imagePath](),
  width,
  height,
  format: 'webp',
  loading,
});
const ratio =
  Math.round((optBg.attributes.width / optBg.attributes.height) * 100) / 100;

const style = `--url: url(${optBg.src});--position: ${position};--ratio: ${ratio};`;
const id = Math.random().toString(32).slice(2, 11);
---

<div id={id} class:list={['container12', classList]} style={style} {...attrs}>
  <div class="div">
    <div class="skewed"></div>
    <slot />
  </div>
</div>

<style>
  .container12 {
    position: relative;
    aspect-ratio: var(--ratio);
    width: 20rem;
    height: auto;
    overflow-y: scroll;

    .div {
      position: absolute;
      inset: 0;
      background: var(--url) var(--position) / cover no-repeat;
      .skewed {
        position: absolute;
        bottom: -100%;
        left: 0;
        transform: skewY(-10deg);
        transform-origin: left top;
        background-color: #fff;
        width: 100%;
        height: 100%;
      }
    }
  }
</style>

<script define:vars={{ id }}>
  const container12 = document.getElementById(id);
  const skewed = container12.querySelector('.skewed');
  const containerHeight = container12.clientHeight;

  container12.addEventListener('scroll', () => {
    const scroll = container12.scrollTop;
    const skewY = parseFloat(
      ((scroll / containerHeight) * 10 * 1.5).toFixed(2)
    );
    if (skewY <= 10) {
      skewed.style.transform = `skewY(${-(10 - skewY)}deg)`;
    }
  });
</script>
