---
/*INFORMATIONS:
videos must to be in the folder /public/videos
set optionally
- class as string
- duration as string
- videoPaths as array of strings
- imagesData as array of objects with imagePath as string and alt as string
- width and/or height as numbers
- format as string (default: 'webp')
- loading as 'lazy' | 'eager' | null (default: 'lazy')
*/

import { Image } from 'astro:assets';

interface Props {
  class?: string;
  duration?: string;
  videoPaths: string[];
  imagesData: { imagePath: string; alt: string }[];
  width?: number;
  height?: number;
  format?: string;
  loading?: 'lazy' | 'eager' | null;
}
const {
  class: classList,
  duration = '.5s',
  videoPaths,
  imagesData,
  width = 400,
  height,
  format = 'webp',
  loading = 'lazy',
  ...attrs
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,png,svg,avif,webp}'
);

const imagesNumber = imagesData.length;
const imageWidth = `${Math.floor(100 / (imagesNumber + 2))}%`;
const videoSrcs = videoPaths.join(',');
const firstVideoSrc = videoPaths[0];

const style = `--duration: ${duration};--imageWidth: ${imageWidth};`;
const id = Math.random().toString(32).slice(2, 11);
---

<section
  id={id}
  class:list={['container13', classList]}
  style={style}
  {...attrs}
>
  <video autoplay muted loop data-srcs={videoSrcs}>
    <source src={firstVideoSrc} type="video/mp4" />
  </video>
  <ul class="navigation">
    {
      imagesData.map((imageData) => {
        // prettier-ignore
        return (<li><Image src={images[imageData.imagePath]()} alt={imageData.alt} width={width} height={height} format={format} loading={loading} /></li>);
      })
    }
  </ul>
</section>

<style>
  .container13 {
    position: relative;
    aspect-ratio: 1.776;
    width: 20rem;
    height: auto;
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .navigation {
      display: flex;
      position: absolute;
      bottom: 5%;
      left: 50%;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      transform: translateX(-50%);
      z-index: 100;
      width: 100%;
      list-style: none;
      li {
        opacity: 0.7;
        transition: var(--duration);
        cursor: pointer;
        background-color: #fff;
        padding: 1px;
        width: var(--imageWidth);

        img {
          display: block;
          width: 100%;
          height: auto;
        }

        &:hover {
          opacity: 1;
          width: calc(var(--imageWidth) / 3 * 4);
        }
      }
    }
  }
</style>

<script define:vars={{ id }}>
  const container = document.getElementById(id);
  const video = container.querySelector('video');
  const thumbs = container.querySelectorAll('ul li');
  const videoSrcs = video.dataset.srcs?.split(',');

  // thumbs linsteners
  thumbs.forEach((thumb, idx) => {
    thumb.addEventListener('click', () => {
      video.src = videoSrcs?.[idx];
    });
  });
</script>
