---
/*INFORMATIONS:
set optionally
- class as string
- duration as string
- imagePath as string
- width and/or height as numbers
- format as string (default: 'webp')
- loading as 'lazy' | 'eager' | null (default: 'lazy')
*/

import { Icon } from 'astro-icon/components';
import { getImage } from 'astro:assets';

interface Props {
  class?: string;
  duration?: string;
  user: {
    imagePath: string;
    alt: string;
    details: { name: string; job: string };
  };
  width?: number;
  height?: number;
  format?: string;
  loading?: 'lazy' | 'eager' | null;
  iconNames: string[];
}
// prettier-ignore
const { class: classList, duration='.5s', user, width=100, height, format = 'webp', loading = 'lazy', iconNames, ...attrs } = Astro.props;

const {
  imagePath,
  alt,
  details: { name, job },
} = user;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,png,webp,svg,avif}'
);
const optImg = await getImage({
  src: images[imagePath](),
  width,
  height,
  format,
});

const style = `--duration: ${duration};`;
const id = Math.random().toString(32).slice(2, 11);
---

<section
  id={id}
  class:list={['container16', classList]}
  style={style}
  {...attrs}
>
  <div class="menu">
    <div class="user">
      <div class="imgBox">
        <img src={optImg.src} alt={alt} />
      </div>
      <div class="details">
        <h3>{name}</h3>
        <p>{job}</p>
      </div>
    </div>
    <div class="navigation">
      {
        iconNames.map((icon) =>
          // prettier-ignore
          <span class="icon"><a><Icon name={icon} /></a></span>
        )
      }
    </div>
  </div>
</section>

<style>
  .container16 {
    width: min(20rem, 100%);
    text-align: center;

    &,
    .menu,
    .user,
    .details,
    .navigation {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu {
      flex-wrap: wrap;
      gap: 0.3em;
      .user {
        gap: 0.4em;
        border-radius: 0.5em;
        background: #fff;
        padding: 0.5em;
        height: 4em;
        color: black;
        .imgBox {
          --size: 2.6em;
          border-radius: 0.3em;
          width: var(--size);
          height: var(--size);
          overflow: clip;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .details {
          flex-direction: column;
          h3 {
            font-weight: 600;
            font-size: 0.8em;
          }
          p {
            color: #0009;
            font-weight: 500;
            font-size: 0.6em;
          }
        }
      }
    }
    .navigation {
      --size: 0.3em;
      flex-direction: column;
      gap: var(--size);
      transition: var(--duration);
      cursor: pointer;
      border-radius: 0.5em;
      background: #fff;
      width: 2.5em;
      height: 4em;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #000;
        width: var(--size);
        height: var(--size);
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: var(--duration);
          color: #fff;
          font-size: 0em;
        }
      }

      &.active {
        --size: 2em;
        flex-direction: row;
        gap: calc(var(--size) / 4);
        width: 8em;
        span {
          a {
            font-size: 0.9em;
          }
          &:hover {
            background: #273c75;
          }
        }
      }
    }
  }
</style>

<script define:vars={{ id }}>
  const container16 = document.getElementById(id);
  const navigation = container16.querySelector('.navigation');
  const icons = navigation.querySelectorAll('.icon');

  navigation.addEventListener('click', () => {
    if (!navigation.classList.contains('active')) {
      navigation.classList.add('active');
    }
  });
  window.addEventListener('click', (e) => {
    if (!navigation.contains(e.target)) {
      navigation.classList.remove('active');
    }
  });
</script>
