---
import { getImage } from 'astro:assets';
import { Image } from 'astro:assets';

/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- timeToKeep as string 'value and s | ms'
- images as array of objects with imagePath as string and alt as string
- width and/or height as numbers
- format as string
- loading as 'lazy' | 'eager' | null
*/

const imagesFallBackData = [
  { imagePath: '/src/images/with-js21/img-1.jpg', alt: 'boat' },
  { imagePath: '/src/images/with-js21/img-2.jpg', alt: 'sunset' },
  { imagePath: '/src/images/with-js21/img-3.jpg', alt: 'mountain' },
  { imagePath: '/src/images/with-js21/img-4.jpg', alt: 'alpinist' },
];

interface Props {
  class?: string;
  duration?: string;
  timeToKeep?: string;
  imagesData?: { imagePath: string; alt: string }[];
  width?: number;
  height?: number;
  format?: string;
  loading?: 'lazy' | 'eager' | null;
}
const {
  class: classList,
  duration = '2s',
  timeToKeep = '4s',
  imagesData = imagesFallBackData,
  width = 800,
  height,
  format = 'webp',
  loading = 'lazy',
  ...attrs
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);

imagesData.forEach((imgData) => {
  if (!images[imgData.imagePath])
    throw new Error(`${imgData.imagePath} does not exist`);
});
async function getRatio(imagePath: string) {
  const image = await getImage({
    src: images[imagePath](),
    width,
    height,
  });
  const ratio =
    Math.round((image.attributes.width / image.attributes.height) * 100) / 100;
  return ratio;
}
const ratios = await Promise.all(
  imagesData.map((imgData) => getRatio(imgData.imagePath))
);
const minRatio = Math.min(...ratios);

const style = `--duration: ${duration};--minRatio: ${minRatio};`;

const id = Math.random().toString(32).slice(2, 11);
---

<div id={id} class:list={['slider21', classList]} style={style} {...attrs}>
  {
    imagesData.map((imgData, idx) => {
      // prettier-ignore
      return <Image class:list={[{ visible: idx === 0 }]} src={images[imgData.imagePath]()} alt={imgData.alt} width={width} height={height} format={format} loading={idx === 0 ? 'eager' : 'lazy'} />
    })
  }
</div>

<style>
  .slider21 {
    position: relative;
    aspect-ratio: var(--minRatio);
    width: 40rem;
    max-width: 100%;
    height: auto;
    img {
      display: block;
      position: absolute;
      opacity: 0;
      transition: var(--duration) ease-in-out;
      inset: 0;
      border-radius: inherit;
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;

      &.visible {
        opacity: 1;
      }
    }
  }
</style>

<script define:vars={{ id, timeToKeep }}>
  const slider21 = document.getElementById(id);
  const imgs = slider21.querySelectorAll('img');

  const interval = timeToKeep.match('ms')
    ? parseFloat(timeToKeep)
    : parseFloat(timeToKeep) * 1000;

  function switcher() {
    let index = 0;
    setInterval(() => {
      imgs[index].classList.remove('visible');
      index = (index + 1) % imgs.length;
      imgs[index].classList.add('visible');
    }, interval);
  }

  switcher();
</script>
